<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content"
>

	<div class="park_slider">
		<div class="park_slide">
			<img id="logoImage" src="/commonResource/sideproject.png" alt="side"
				style="width: 100%;">
		</div>
		<div class="park_slide">
			<img id="logoImage2" src="/commonResource/banner.png" alt="banner"
				style="width: 100%;">
		</div>

	</div>
	<div id="park_board">
		<section class="park_child">
				<!-- 게시판명 -->
				<button class="park_S" th:onclick="location.href='/freeBoardList'">
					<span class="park_boardname" >자유게시판</span>
				</button>
				<section class="park_child2">
				<div>
					<ul class = "park_fb">
						<li th:each="free : ${getFreeBoardMainPage}">
						<span class="park_box">
                          <img class="park_profile" th:onclick="|location.href='/member/${free.memberNo}?pg=1'|" th:src="|/upload/profile/${free.profileImage}|" alt="profile">
                        </span>
							<span class="park_nickname" th:onclick="|location.href='/member/${free.memberNo}?pg=1'|">[[${free.nickname}]]
							
                       
							</span>
							<span class="park_activityPoint"> · <img id="thunder" src="/commonResource/thunder.png" alt="acti">[[${free.accumActivityPoint}]]
								<span th:if="${free.minute < 60}" th:text="' · ' + (${free.minute}) + '분 전'"></span>
								<span th:if="${free.minute >= 60 && free.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 60.0)}) + '시간 전'"></span>
								<span th:if="${free.minute >= 1440 && free.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 1440.0)}) + '일 전'"></span>
								<span th:if="${free.minute >= 43200 && free.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 43200.0)}) + '달 전'"></span>
								<span th:if="${free.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							
							<span class="park_title" th:onclick="|location.href='/freeBoardInfo/${free.fboardNo}'|" th:if="${#strings.length(free.title) > 26}" th:text="${#strings.substring(free.title, 0, 26)} + '...'"></span>
								<span class="park_title" th:onclick="|location.href='/freeBoardInfo/${free.fboardNo}'|" th:unless="${#strings.length(free.title) > 26}" th:text="${free.title}"></span>
							<hr />
							
						</li>
					</ul>
				</div>
			</section>
		</section>


		<section class="park_child">
			<button class="park_S" th:onclick="location.href='/questionList?pageNo=1'" >
				<span class="park_boardname">질문&답변</span>
			</button>
			<section class="park_child2">
				<div>
					<ul class = "park_fb">
						<li th:each="question : ${getQuestionBoardMainPage}">
							<span class="park_nickname" th:onclick="|location.href='/member/${question.memberNo}?pg=1'|">[[${question.nickname}]]
							<span class="park_box">
                          <img class="park_profile" th:onclick="|location.href='/member/${question.memberNo}?pg=1'|" th:src="|/upload/profile/${question.profileImage}|" alt="profile">
                        </span>
                       
							</span>
							<span class="park_activityPoint"> · <img id="thunder" src="/commonResource/thunder.png" alt="acti">[[${question.accumActivityPoint}]]
								<span th:if="${question.minute < 60}" th:text="' · ' + (${question.minute}) + '분 전'"></span>
								<span th:if="${question.minute >= 60 && question.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(question.minute / 60.0)}) + '시간 전'"></span>
								<span th:if="${question.minute >= 1440 && question.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(question.minute / 1440.0)}) + '일 전'"></span>
								<span th:if="${question.minute >= 43200 && question.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(question.minute / 43200.0)}) + '달 전'"></span>
								<span th:if="${question.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(question.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							
							<span class="park_title" th:onclick="|location.href='/questionInfo/${question.questionBoardNo}'|" th:if="${#strings.length(question.title) > 33}" th:text="${#strings.substring(question.title, 0, 33)} + '...'"></span>
								<span class="park_title" th:onclick="|location.href='/questionInfo/${question.questionBoardNo}'|" th:unless="${#strings.length(question.title) > 33}" th:text="${question.title}"></span>
							<hr />
							
						</li>
					</ul>
				</div>
			</section>
		</section>
		
	</div>

	<div id="park_board">
		<section class="park_child">
			<button class="park_S" th:onclick="location.href='/sideProjectList/Q001/?pageNo=1'">
				<span class="park_boardname">사이드 프로젝트</span>
			</button>
			<section class="park_child2">
				<div>
					<ul class = "park_fb">
						<li th:each="side : ${getSideProjectBoardMainPage}">
							<span class="park_nickname" th:onclick="|location.href='/member/${side.memberNo}?pg=1'|">[[${side.nickname}]]
							<span class="park_box">
                         <img class="park_profile" th:onclick="|location.href='/member/${side.memberNo}?pg=1'|" th:src="|/upload/profile/${side.profileImage}|" alt="profile">
                      </span>
                      
							</span>
							<span class="park_activityPoint"> · <img id="thunder" src="/commonResource/thunder.png" alt="acti">[[${side.accumActivityPoint}]]
								<span th:if="${side.minute < 60}" th:text="' · ' + (${side.minute}) + '분 전'"></span>
								<span th:if="${side.minute >= 60 && side.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(side.minute / 60.0)}) + '시간 전'"></span>
								<span th:if="${side.minute >= 1440 && side.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(side.minute / 1440.0)}) + '일 전'"></span>
								<span th:if="${side.minute >= 43200 && side.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(side.minute / 43200.0)}) + '달 전'"></span>
								<span th:if="${side.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(side.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							
							<span class="park_title" th:onclick="|location.href='/sideInfo/${side.sideBoardNo}'|" th:if="${#strings.length(side.title) > 33}" th:text="${#strings.substring(side.title, 0, 33)} + '...'"></span>
								<span class="park_title" th:onclick="|location.href='/sideInfo/${side.sideBoardNo}'|" th:unless="${#strings.length(side.title) > 33}" th:text="${side.title}"></span>
							<hr />
							
						</li>
					</ul>
				</div>
			</section>
		</section>

		<section class="park_child">
			<button class="park_S" th:onclick="location.href='/noticeBoard?pageNo=1'">
				<span class="park_boardname">공지사항</span>
			</button>
			<section class="park_child2">
				<div>
					<ul class = "park_fb">
						<li th:each="notice: ${getNoticeBoardMainPage}">
							<span class="park_nickname-admin" style="cursor:auto;">관리자
							<span class="park_box">
                          <img class="park_profile" style="cursor:auto;" th:src="|/upload/profile/${notice.profileImage}|" alt="profile">
                        </span>
                       
							</span>
							<span class="park_activityPoint">
								<span th:if="${notice.minute < 60}" th:text="' · ' + (${notice.minute}) + '분 전'"></span>
								<span th:if="${notice.minute >= 60 && notice.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(notice.minute / 60.0)}) + '시간 전'"></span>
								<span th:if="${notice.minute >= 1440 && notice.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(notice.minute / 1440.0)}) + '일 전'"></span>
								<span th:if="${notice.minute >= 43200 && notice.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(notice.minute / 43200.0)}) + '달 전'"></span>
								<span th:if="${notice.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(notice.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							
								<span class="park_title" th:onclick="|location.href='/noticeInfo?noticeBoardNo=${notice.noticeBoardNo}'|" th:if="${#strings.length(notice.title) > 33}" th:text="${#strings.substring(notice.title, 0, 33)} + '...'"></span>
								<span class="park_title" th:onclick="|location.href='/noticeInfo?noticeBoardNo=${notice.noticeBoardNo}'|" th:unless="${#strings.length(notice.title) > 33}" th:text="${notice.title}"></span>
							<hr />
							
						</li>
					</ul>
				</div>
			</section>
		</section>
	</div>



</div>
<style>
ul li .park_profile, 
ul li .park_nickname{
cursor:pointer;
}



</style>

<script th:inline="javascript">
let currentSlide = 0;
const slides = document.querySelectorAll('.park_slide');
const slideCount = slides.length;
 
function showSlide(n) {
    slides.forEach(park_slide => park_slide.style.display = 'none');
    slides[n].style.display = 'block';
}
 
function nextSlide() {
    currentSlide = (currentSlide + 1) % slideCount;
    showSlide(currentSlide);
}
 
function prevSlide() {
    currentSlide = (currentSlide - 1 + slideCount) % slideCount;
    showSlide(currentSlide);
}
 
document.addEventListener('DOMContentLoaded', () => {
    showSlide(currentSlide);
    setInterval(nextSlide, 3000); // 3초마다 자동 슬라이드                
});


</script>
