<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content"
>

	<div class="park_slider">
		<div class="park_slide">
			<img id="logoImage" src="commonResource/sideproject.png" alt="side"
				style="width: 100%;">
		</div>
		<div class="park_slide">
			<img id="logoImage2" src="commonResource/banner.png" alt="banner"
				style="width: 100%;">
		</div>

	</div>
	<div id="park_board">
		<section class="park_child">
			
				<button class="park_S">
					<span class="park_boardname">자유게시판</span>
				</button>
				<section class="park_child2">
				<div>
					<ul class = "park_fb">
						<li th:each="free : ${getFreeBoardList}">
							<span class="park_nickname">[[${free.nickname}]]</span>
							<span class="park_activityPoint"> · <img id="thunder" src="commonResource/thunder.png" alt="acti">[[${free.accumActivityPoint}]]
								<span th:if="${free.minute < 60}" th:text="' · ' + (${free.minute}) + '분 전'"></span>
								<span th:if="${free.minute >= 60 && free.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 60.0)}) + '시간 전'"></span>
								<span th:if="${free.minute >= 1440 && free.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 1440.0)}) + '일 전'"></span>
								<span th:if="${free.minute >= 43200 && free.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 43200.0)}) + '달 전'"></span>
								<span th:if="${free.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(free.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							
							<span class="park_title" th:if="${#strings.length(free.title) > 30}" th:text="${#strings.substring(free.title, 0, 30)} + '...'"></span>
								<span class="park_title" th:unless="${#strings.length(free.title) > 30}" th:text="${free.title}"></span>
							<hr />
							
						</li>
					</ul>
				</div>
			</section>
		</section>


		<section class="park_child">
			<button class="park_S">
				<span class="park_boardname">질문&답변</span>
			</button>
		</section>
		
	</div>

	<div id="park_board">
		<section class="park_child">
			<button class="park_S">
				<span class="park_boardname">사이드 프로젝트</span>
			</button>
		</section>

		<section class="park_child">
			<button class="park_S">
				<span class="park_boardname">공지사항</span>
			</button>
		</section>
	</div>



</div>
<style>

</style>

<script>
let currentSlide = 0;
const slides = document.querySelectorAll('.park_slide');
const slideCount = slides.length;
 
function showSlide(n) {
    slides.forEach(park_slide => park_slide.style.display = 'none');
    slides[n].style.display = 'block';
}
 
function nextSlide() {
    currentSlide = (currentSlide + 1) % slideCount;
    showSlide(currentSlide);
}
 
function prevSlide() {
    currentSlide = (currentSlide - 1 + slideCount) % slideCount;
    showSlide(currentSlide);
}
 
document.addEventListener('DOMContentLoaded', () => {
    showSlide(currentSlide);
    setInterval(nextSlide, 3000); // 3초마다 자동 슬라이드                
});


</script>
