<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content"	  
>	
	<div class="min-rounded p-4" style="border: 1px solid hsla(220,9%,46%,.3); width:1344px;">
		<div class="d-flex justify-content-between px-3">
			<div>
				<div class="qna_box3">
					<img class="qna_profile" th:if="${member.profileImage} == null" src="commonResource/default_profile.jpg" />
					<img class="qna_profile" th:unless="${member.profileImage} == null" th:src="|/upload/profile/${member.profileImage}|" />
				</div>
				<div class="pt-3 d-flex gap-4" style="height:30px;">
					<h2>[[${member.nickname}]]</h2>
					<button type="button" class="text-white btn" style="background-color:#3e6ce3; height:40px;">팔로우</button>
				</div>
				<div class="pt-3 d-flex mt-3">
					<div class="qna_box">
						<img class="qna_profile" th:src="|/commonResource/gradeimage/${member.gradeName}.png|" />
					</div>
					<div>
						<span style="margin:0;" class="align-middle">[[${member.gradeName}]]</span>
					</div>
				</div>
			</div>
			<div>
			</div>
		</div>
	</div>
	
</div>