<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content">
	<div class="d-flex">
		<section class="d-flex" style="float: left;">
			<aside style="width: 100%; background-color: #aebfec;">
				<div class="flex-shrink-0">
					<!-- 프로필-->
					<div class="card justify-content-center align-items-center"
						style="text-align: center; width: 270px; margin: 15px;">
						<!-- 프사 -->
						<div class="box-1">
							<th:block th:if="${memberInfo.profileImage} == null">
								<img class="profile-1" src="commonResource/default_profile.jpg"
									style="width: 100%; height: 100%;" alt="profile">
							</th:block>
							<th:block th:unless="${memberInfo.profileImage} == null">
								<img class="profile-1 mx-auto d-block"
									style="width: 100%; height: 100%;"
									th:src="|upload/profile/${memberInfo.profileImage}|" alt="...">
							</th:block>
						</div>
						<!-- grade image -->
						<div class="card-body">
							<h6 class="card-text" style="font-weight: bold;"
								th:text="${memberInfo.nickname}">\</h6>
							<h6 class="card-text" th:text="${memberInfo.email}">\</h6>
							<img
								th:src="|commonResource/gradeimage/${memberInfo.memberLevel}.png|"
								logo="" style="width: 30px;"> <span class="card-text"
								th:text="${memberInfo.memberLevel}">\</span>
							<h6 class="card-text" th:text="${memberInfo.accumActivityPoint}">\</h6>





						</div>
					</div>

					<!-- summary -->

					<div class="card container"
						style="width: 270px; height: 400px; margin-top: 30px; margin-left: 15px;">
						<h5
							style="padding-top: 30px; padding-bottom: 30px; font-weight: bold; text-align: center;">SUMMARY</h5>
						<!-- 정산요청 div -->
						<div class="container2"
							style="background-color: #aebfec; border-radius: 20px; padding: 10px 10px 10px 5px;">
							<div class="row"
								style="width: auto; height: auto; overflow: visible;">
								<div class="tae-box1 col-1" style="width: 50px;">
									<img class="img1" src="commonResource/icon/point.png"
										style="width: 50px; height: auto;">
								</div>
								<div class="tae-box2 col-2" style="width: 140px;">
									<h6 style="font-weight: bold;">POINT</h6>
									<h6 class="card-text"
										th:text="${memberInfo.acoPoint} + 정산가능 + ${memberInfo.availableActivityPoint} + P">
										\</h6>
								</div>
								<div class="col-1" style="width: 55px;">
									<!-- 모달버튼 -->
									<button type="button" class="btn btn-modal"
										data-bs-toggle="modal" data-bs-target="#point"
										style="text-decoration: none; float: right; color: #979da9;">

										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-chevron-right">
										<polyline points="9 18 15 12 9 6"></polyline></svg>
									</button>
									<!-- 모달시작 -->
									<div class="modal fade" id="point" tabindex="-1" role="dialog"
										aria-labelledby="pointModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-xl" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="pointModalLabel"
														style="font-weight: bold;">포인트뱅크</h5>
													<button type="button" class="close" data-bs-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<ul class="tab-ul">
														<li th:each="myq:${mquestionList}">[[ ${myq.title} ]]<span>
																[[${myq.writeDate}]] </span>
															<hr></li>
													</ul>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save
														changes</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 모달 끝 -->
								</div>
							</div>
						</div>
						<!-- 활동점수 -->
						<div class="container2"
							style="background-color: #aebfec; border-radius: 20px; padding: 10px 10px 10px 5px;">
							<div class="row"
								style="width: auto; height: auto; overflow: visible;">
								<div class="tae-box1 col-1" style="width: 50px;">
									<img class="img2" src="commonResource/icon/activity.png"
										style="width: 50px; height: auto;">
								</div>
								<div class="tae-box2 col-2" style="width: 140px;">
									<h6 style="font-weight: bold;">내 활동 관리</h6>
									<h6 class="card-text">활동/등급 관리</h6>
								</div>
								<div class="col-1" style="width: 55px;">
									<!-- 모달버튼 -->
									<button type="button" class="btn btn-modal"
										data-bs-toggle="modal" data-bs-target="#point"
										style="text-decoration: none; color: #979da9;">

										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-chevron-right">
										<polyline points="9 18 15 12 9 6"></polyline></svg>
									</button>
									<!-- 모달시작 -->
									<div class="modal fade" id="point" tabindex="-1" role="dialog"
										aria-labelledby="pointModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-xl" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="pointModalLabel"
														style="font-weight: bold;">내활동관리</h5>
													<button type="button" class="close" data-bs-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<ul class="tab-ul">
														<li th:each="myq:${mquestionList}">[[ ${myq.title} ]]<span>
																[[${myq.writeDate}]] </span>
															<hr></li>
													</ul>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save
														changes</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 모달 끝 -->
								</div>
							</div>
						</div>

						<!-- 회원정보수정 -->
						<div class="container2"
							style="background-color: #aebfec; border-radius: 20px; padding: 10px 10px 10px 5px;">
							<div class="row"
								style="width: auto; height: auto; overflow: visible;">
								<div class="tae-box1 col-1" style="width: 50px;">
									<img class="profile" src="commonResource/icon/modifyinfo.png"
										style="width: 50px; height: auto;">
								</div>
								<div class="tae-box2 col-2" style="width: 140px;">
									<h6 style="font-weight: bold;">회원정보수정</h6>
									<h6 class="card-text">정보,비밀번호</h6>
								</div>
								<div class="col-1" style="width: 55px;">
									<!-- 모달버튼 -->
									<button type="button" class="btn btn-modal"
										data-bs-toggle="modal" data-bs-target="#point"
										style="text-decoration: none; float: right; color: #979da9;">

										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-chevron-right">
										<polyline points="9 18 15 12 9 6"></polyline></svg>
									</button>
									<!-- 모달시작 -->
									<div class="modal fade" id="point" tabindex="-1" role="dialog"
										aria-labelledby="pointModalLabel" aria-hidden="true">
										<div class="modal-dialog modal-xl" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="pointModalLabel"
														style="font-weight: bold;">회원정보수정</h5>
													<button type="button" class="close" data-bs-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<ul class="tab-ul">
														<li th:each="myq:${mquestionList}">[[ ${myq.title} ]]<span>
																[[${myq.writeDate}]] </span>
															<hr></li>
													</ul>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Close</button>
													<button type="button" class="btn btn-primary">Save
														changes</button>
												</div>
											</div>
										</div>
									</div>
									<!-- 모달 끝 -->
								</div>
							</div>
						</div>
						<!-- 위에까지 회원정보 수정 끝 -->
					</div>
				</div>
			</aside>
		</section>
		<!-- 메인바디영역 -->
		<div class="container" style="background-color: #aebfec;">
			<div class="container">
				<div class="card" id="myTabContent" style="height: 850px;">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="profile-tab" data-bs-toggle="tab"
								data-bs-target="#profile-tab-pane" type="button" role="tab"
								aria-controls="profile-tab-pane" aria-selected="false"
								style="width: 330px;" onclick="location.href='/myPage'">내가 참여한 프로젝트</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="home-tab"
								data-bs-toggle="tab" data-bs-target="#home-tab-pane"
								type="button" role="tab" aria-controls="home-tab-pane"
								aria-selected="true" style="width: 330px;">내 질답 통계</button>
						</li>

					</ul>
					<div>

						<div class="card" style="width: 900px; border: 0px;">
							<div class="card-body" id="card-1" style="margint-top: 20px;">
								<div id="piechart" style="width: 500px; height: 300px;"></div>
							</div>
						</div>


					</div>
					<div class="d-flex">
						<div class="card"
							style="width: 437px; height: 260px; margin-top: 30px; margin-left: 20px; overflow: visible;">
							<div class="card-body" id="card-1"
								style="width: 437px; height: 277px;">
								<h5 style="margin-bottom: -8px; font-weight: bold;">
									📃 내가 작성한 글 목록
									<!-- 모달 -->
									<button type="button" class="btn btn-modal"
										data-bs-toggle="modal" data-bs-target="#board"
										style="text-decoration: none; color: #979da9;">
										더보기
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-chevron-right">
										<polyline points="9 18 15 12 9 6"></polyline></svg>
									</button>
									<hr>
								</h5>

								<!-- Modal -->
								<div class="modal fade" id="board" tabindex="-1" role="dialog"
									aria-labelledby="boardModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-xl" role="document"
										style="overflow: visible;">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="boardModalLabel"
													style="font-weight: bold;">📃 내가 작성한 글 목록</h5>
												<!-- <button type="button" class="close" data-bs-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button> -->
											</div>
											<div class="modal-body">
												<div id="container">
													<ul class="tab">
														<li data-tab="tab1" class='tabmenu' id="default"><a
															href="#">질답형 게시판</a></li>
														<li data-tab="tab2" class='tabmenu'><a href="#">사이드프로젝트</a></li>
													</ul>
													<div id="tabcontent"></div>
												</div>
												
												<div class="container" style="padding-top: 100px;">
													<table class="table">
														<thead>
															<tr>
																<th>No.</th>
																<th>제목</th>
																<th>작성일자</th>
																<th>답변수</th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="myq:${mquestionList}">
																<td th:text="${myqStat.count}">1</td>
																<td>[[ ${myq.title} ]]</td>
																<td
																	th:text="${#dates.format(myq.writeDate, 'yyyy-MM-dd')}">[[
																	${myq.writeDate} ]]</td>
																<td>[[ ${myq.answerCnt} ]]</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div>
													<!-- Pagination -->
													<ul class="pagination justify-content-center">
														<li class="page-item"><a class="page-link" href="#"
															aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
																<span class="sr-only">Previous</span>
														</a></li>
														<li class="page-item"><a class="page-link" href="#">1</a>
														</li>
														<li class="page-item"><a class="page-link" href="#">2</a>
														</li>
														<li class="page-item"><a class="page-link" href="#">3</a>
														</li>
														<li class="page-item"><a class="page-link" href="#"
															aria-label="Next"> <span aria-hidden="true">&raquo;</span>
																<span class="sr-only">Next</span>
														</a></li>
													</ul>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- 모달 끝 -->
								<ul class="tab-ul">
									<li th:each="myq:${mquestionList}">[[ ${myq.title} ]]<span
										th:text="${#dates.format(myq.writeDate, 'yyyy-MM-dd')}"
										style="padding-left: 133px; float: right;">
											[[${myq.writeDate}]] </span>
										<hr></li>
								</ul>
							</div>
						</div>
						<div class="card"
							style="width: 437px; height: 260px; margin-top: 30px; margin-left: 20px; overflow: visible;">
							<div class="card-body" id="card-1"
								style="width: 437px; height: 277px;">
								<h5 style="margin-bottom: -8px; font-weight: bold;">
									🔖 책갈피 목록
									<!-- 모달 -->
									<button type="button" class="btn btn-modal"
										data-bs-toggle="modal" data-bs-target="#bookmark"
										style="text-decoration: none; color: #979da9;">
										더보기
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
											viewBox="0 0 24 24" fill="none" stroke="currentColor"
											stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" class="feather feather-chevron-right">
										<polyline points="9 18 15 12 9 6"></polyline></svg>
									</button>
									<hr>
								</h5>
								<!-- Modal -->
								<div class="modal fade" id=bookmark tabindex="-1" role="dialog"
									aria-labelledby="bookmarkLabel" aria-hidden="true">
									<div class="modal-dialog modal-xl" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="bookmarkLabel"
													style="font-weight: bold;">🔖 책갈피 목록</h4>
												<!-- <button type="button" class="close" data-bs-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button> -->
											</div>
											<div class="modal-body">
												<div class="scroll type2"
													style="overflow-y: scroll; height: 600px; overflow-x: hidden;">
													<p style="margin-bottom: 30px;">※책갈피 아이콘을 해제시 책갈피 목록에서
														삭제됩니다.</p>
													<div class="row">
														<div class="col-sm-3 mb-3 mb-sm-0"
															th:each="bml2:${bookmarkList2}">
															<div class="card align-items-center"
																style="height: auto;">
																<div class="card-body">
																	<h5 class="card-title"
																		style="font-weight: bold; text-align: center;">[[
																		${bml2.title} ]]</h5>
																	<br> <br>
																	<p class="card-text" style="width: 100px;"
																		th:text="${#dates.format(bml2.registDate, 'yyyy-MM-dd')}">작성일자
																		: [[${bml2.registDate}]]</p>
																	<button type="button"
																		style="background-color: #fff; border: 0px; float: right;">
																		<img src="/commonResource/icon/bookmark2.png"
																			style="width: 50px;">
																	</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
									<hr>
								</div>
								<!-- 모달 끝 -->
								<ul class="tab-ul">
									<li th:each="bml:${bmarkList}">[[ ${bml.title} ]]<span
										th:text="${#dates.format(bml.registDate, 'yyyy-MM-dd')}"
										style="padding-left: 133px; float: right;">
											[[${bml.registDate}]] </span>
										<hr></li>
								</ul>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	google.charts.load('current', {
		'packages' : [ 'corechart' ]
	});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {

		var data = google.visualization.arrayToDataTable([
				[ 'Task', 'Hours per Day' ], [ '내가 질문한 글', 11 ], [ '내가 답변한 글', 2 ],
				[ '채택된 글', 15 ] ]);

		var options = {
			title : '내 질답통계'
		};

		var chart = new google.visualization.PieChart(document
				.getElementById('piechart'));

		chart.draw(data, options);
	}

	const memberno = [[${session.member.memberNo}]]
	function goMypage(){
		location.href='/myPage';
		
	}

</script>
