<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content">

<section style="width: 1344px">
	<div id="qna_banner">
			<h3>내 이모티콘 구매목록</h3>
			<p style="color:#76767e">구매한 이모티콘을 확인 해보세요</p>
		</div>
<!-- Page Content -->
<div class="container-fluid px-4">
				<div class="px-4 py-1 my-3 text-center">
					<h2 class="fw-bold mb-3">이모티콘 구매내역</h2>
				</div>
				<div class="d-flex justify-content-center">
					<table class="table w-85">
						<thead>
							<tr align="center">
								<th>이모티콘 이미지</th>
								<th>이모티콘 이름</th>
								<th>가격</th>
								<th>구매일자</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr align="center" th:each="buyList : ${emoBuyList}">
								<td style="vertical-align : middle">
								<img alt=""  th:src="@{${buyList.emoPath+buyList.emoFirstimg}}" style="width: 100px">
                                </td>
                                <td style="vertical-align : middle" th:text="${buyList.emoName}"  th:onclick="|location.href='/emoDetail?emoNo=${buyList.emoNo}'|">    
								<p><span></span></p>
                                </td>                   
								<td style="vertical-align : middle" th:text="${buyList.emoPrice}"><p><span></span></p></td>
								<td style="vertical-align : middle" th:text="${buyList.emoBuydate}"><p><span></span></p></td>
								 <td style="text-align: center; vertical-align: middle;"><div>
                                                                                       <!-- Button trigger modal -->
												<button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="|#exampleModal${buyList.emoNo}|">
												  삭제
												</button>
												        <form action="deleteEmo" method="post" name="delForm" th:id="${buyList.emoNo}">
												        	<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}"/>
															<input type="hidden" name="memberNo" th:value="${buyList.memberNo}">
													        <input type="hidden" name="emoNo" th:value="${buyList.emoNo}">
														</form>
												
												<!-- Modal -->
												<div class="modal fade" th:id="|exampleModal${buyList.emoNo}|" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header" style="margin: auto;">
												        <h1 class="modal-title fs-5" id="exampleModalLabel">해당 이모티콘을 삭제 하시겠습니까?</h1>
												      </div>
												      <div class="modal-footer" style="margin: auto;">
												        <button type="button" class="btn btn-danger" th:onclick="delEmo([[${buyList.emoNo}]])">삭제</button>
												        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
												      </div>
												    </div>
												  </div>
												</div>
                                            </div></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
<!-- /.container -->

</section>
</div>
<script th:inline="javascript">
 	function delEmo(emoNo){
 		$("#" + emoNo).submit();
 		showSuccessAlert('삭제 완료');
	} 
</script>
