<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ask Code 관리자 페이지</title>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		
	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	
    

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    
    <!-- sweetAlert2 -->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">
      <script type="text/javascript" th:src="@{/js/commonMethod.js}"></script>
      <!-- sweetAlert2 -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin?pageNo=1">
                <div class="sidebar-brand-text mx-3">관리자 페이지 </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                조회
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                 <a class="nav-link" href="/adminMember?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회원조회</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/adminStat">
                    <i class="fas fa-fw fa-table"></i>
                    <span>통계조회</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                관리
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
               <a class="nav-link" href="/adminReport?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>신고관리</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                 <a class="nav-link" href="/adminQna?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>문의관리</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/adminSettle?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>정산관리</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/adminEmo?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>이모티콘관리</span></a>
            </li>

            <!-- Divider -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<div style="text-align: center;">
						<a href="/" style="width:15%">
		    			<img id="logoImage" src="commonResource/askcodeLogo.png" alt="logo" style="width:15%">
						</a>
					</div>

                    <!-- Topbar Navbar -->
                   <form action="/logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="btn btn-secondary" type="submit">Logout</button>
                    </form>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">정산관리</h1>
      					
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        <div class="dropdown" style="text-align: right">
                            <h6 class="m-0 font-weight-bold text-primary" style="float: left;">정산요청내역</h6>
						  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    처리상태
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminSettle?pageNo=1'|">전체</a></li>
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminSettle?processStatus=0&pageNo=1'|">정산대기중</a></li>
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminSettle?processStatus=1&pageNo=1'|">정산완료</a></li>
						  </ul>
						</div>
                        </div>
                        	
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>요청자</th>
                                            <th>정산 요청금액</th>
                                            <th>처리상태</th>
                                            <th style="width: 115px">
                                            <div style="text-align: center;"><button class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="|#exampleModalAll|">일괄정산</button>
                                           <!-- Modal -->
												<div class="modal fade" th:id="|exampleModalAll|" tabindex="-1" aria-labelledby="exampleModalLabel0" aria-hidden="true">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header" style="margin: auto;">
												        <h1 class="modal-title fs-5" id="exampleModalLabel0">정산요청을 일괄처리 하시겠습니까?</h1>
												      </div>
												      <div class="modal-footer" style="margin: auto;">
												        <button type="button" class="btn btn-primary" th:onclick="settleOnAll()">일괄정산</button>
												        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
												      </div>
												    </div>
												  </div>
												</div>
                                            </div>
                                            </th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <tr th:each="settles : ${adminSettle}">
                                            <td th:text=${settles.settleName}></td>
                                            <td th:text=${settles.settlementReqPoint}></td>
                                            <td th:text=${settles.settleState}></td>
                                            <td><div style="text-align: center" th:if="${settles.processStatus == 'O002'}"><button type="button" disabled="disabled" class="btn btn-secondary">정산완료</button></div>
                                            <div style="text-align: center" th:unless="${settles.processStatus == 'O002'}">
                                                                                   <!-- Button trigger modal -->
												<button type="button" class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="|#exampleModal${settles.settlementNo}|"
												>
												  정산
												</button>
												<!-- Modal -->
												<div class="modal fade" th:id="|exampleModal${settles.settlementNo}|" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
												  <div class="modal-dialog">
												    <div class="modal-content">
												      <div class="modal-header" style="margin: auto;">
												        <h1 class="modal-title fs-5" id="exampleModalLabel">정산요청을 처리하시겠습니까?</h1>
												      </div>
												      <div class="modal-footer" style="margin: auto;">
												        <button type="button" class="btn btn-primary" th:onclick="settleOn([[${settles.settlementNo}]], [[${settles.memberNo}]])">정산</button>
												        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
												      </div>
												    </div>
												  </div>
												</div>
                                            </div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                             <!-- Pagination -->
      <th:block th:if="${pageDTO != null}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${pageDTO.prev}">
        	<th:block th:if="${processStatus == null}">
            <a class="page-link" th:href="|/adminSettle?pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </th:block>
        	<th:block th:if="${processStatus == '1'}">
        		<a class="page-link" th:href="|/adminSettle?processStatus=1&pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        	</th:block>
        	<th:block th:if="${processStatus == '0'}">
        		<a class="page-link" th:href="|/adminSettle?processStatus=0&pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        	</th:block>
        </li>
        <li th:class="${pageNo == pageDTO.curPage}? 'page-item active' : 'page-item'" th:each="pageNo : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
        	<th:block th:if="${processStatus == null}">
        		<a class="page-link" th:href="|/adminSettle?pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        	<th:block th:if="${processStatus == '1'}">
        		<a class="page-link" th:href="|/adminSettle?processStatus=1&pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        	<th:block th:if="${processStatus == '0'}">
        		<a class="page-link" th:href="|/adminSettle?processStatus=0&pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        </li>
        <li class="page-item">
        	<th:block th:if="${processStatuss == null}">
            <a class="page-link" th:href="|/adminSettle?pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        	<th:block th:if="${processStatus == '1'}">
            <a class="page-link" th:href="|/adminSettle?processStatus=1&pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        	<th:block th:if="${processStatus == '0'}">
            <a class="page-link" th:href="|/adminSettle?processStatus=0&pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        </li>
    </ul>                   
                        </div>
                        
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © 2024 AskCode, Inc</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

<script th:inline="javascript">
const csrfPara = [[${_csrf.parameterName}]];
const csrfToken = [[${_csrf.token}]];
const date = new Date();
const time = date.getTime();
let today = getFormatDate(date);
const accessToken = [[${nhAccessToken}]];
const Iscd = [[${Iscd}]];
const accountNo = '3020000010135';
const settleAll = [[${allSettle}]]

function settleOn(settlementNo, settlementReqPoint, sendAll){
	let obj={};
	obj={	
			Header:{
				ApiNm:"DrawingTransfer",
				Tsymd:today,
			    Trtm:"125237",
			    Iscd:Iscd,
			    FintechApsno : "001",
			    ApiSvcCd:"DrawingTransferA",
			    IsTuno:settlementNo+settlementReqPoint+time, 
			    AccessToken: accessToken
			},
			FinAcno:"00820100023050000000000017704",
			Tram: settlementReqPoint,
			DractOtlt:"정산",
			MractOtlt:"정산"
	}	
	

	$.ajax('https://developers.nonghyup.com/DrawingTransfer.nh', {
		type:'post',
		contentType: 'application/json',
		data : JSON.stringify(obj)
	})
	.done(res =>{
		console.log(res);
		let url = '';
		let settleUpdateObj = {};
		
		settleUpdateObj[csrfPara] = csrfToken;
		
		if(typeof sendAll == 'undefined' || sendAll == null) {
			$.ajax(url, {
				type : 'post',
				data : settleUpdateObj,
				beforeSend : function(xhr){
					xhr.setRequestHeader("X-CSRF-Token", csrfToken); 
				},
			})
			.done(res => {
				if(res.result == '200'){
					if(typeof sendAll == 'undefined') {
						Swal.fire({
							  title: '정산이 완료되었습니다.',
							  text: '',
							  icon: 'success',
							  confirmButtonClass: "btn-danger",
							  confirmButtonText: "확인",
							}).then((result) => {
							  if (result.value != null) {
								  window.location.href = "/adminSettle?pageNo=1";
							  }
							});	
					}
				}else{
					showFailAlert('에러가 발생했습니다.')
				}
			}).fail(err=>{
				console.log(err);
				showFailAlert('정산 실패')
			});
		}
		
	})
	
}//submit end


function settleOnAll(){
	for(var i = 0; i < settleAll.length; i++){
		settleOn(settleAll[i].settlementNo, settleAll[i].settlementReqPoint, '1');
	}
	
	let settleUpdateObj = {};
	settleUpdateObj[csrfPara] = csrfToken;
	
	$.ajax('/updateAllSettlementStatus', {
		type : 'post',
		data : settleUpdateObj,
		beforeSend : function(xhr){
			xhr.setRequestHeader("X-CSRF-Token", csrfToken); 
		},
	})
	.done(res => {
		if(res.result == '200'){
			Swal.fire({
				  title: '일괄 정산이 완료되었습니다.',
				  text: '',
				  icon: 'success',
				  confirmButtonClass: "btn-danger",
				  confirmButtonText: "확인",
				}).then((result) => {
				  if (result.value != null) {
					  window.location.href = "/adminSettle?pageNo=1";
				  }
			});	
		}else{
			showFailAlert('에러가 발생했습니다.')
		}
	}).fail(err=>{
		console.log(err);
		showFailAlert('정산 실패')
	});
}
function getFormatDate(date){
	var year = date.getFullYear();              //yyyy
	var month = (1 + date.getMonth());          //M
	month = month >= 10 ? month : '0' + month;  //month 두자리로 저장
	var day = date.getDate();                   //d
	day = day >= 10 ? day : '0' + day;          //day 두자리로 저장
	return  year + '' + month + '' + day;       //'-' 추가하여 yyyy-mm-dd 형태 생성 가능
}
</script>
</body>

</html>