<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ask Code 관리자 페이지</title>
	<!-- 제이쿼리 -->
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
		
	<!-- 부트스트랩 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin?pageNo=1">
                <div class="sidebar-brand-text mx-3">관리자 페이지 </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                조회
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                 <a class="nav-link" href="/adminMember?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회원조회</span>
                </a>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/adminStat">
                    <i class="fas fa-fw fa-table"></i>
                    <span>통계조회</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                관리
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
               <a class="nav-link" href="/adminReport?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>신고관리</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                 <a class="nav-link" href="/adminQna?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>문의관리</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/adminSettle?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>정산관리</span></a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/adminEmo?pageNo=1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>이모티콘관리</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


           <!-- 
            <div class="sidebar-card d-none d-lg-flex">
                <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
                <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
                <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
            </div> -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
					<div style="text-align: center;">
						<a href="/" style="width:15%">
		    			<img id="logoImage" src="commonResource/askcodeLogo.png" alt="logo" style="width:15%">
						</a>
					</div>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
	
                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                       

                       

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">관리자</span>
                                <!-- <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg"> -->
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">문의관리</h1>
                   		<div class="dropdown" style="text-align: right">
						  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						    처리상태
						  </button>
						  <ul class="dropdown-menu">
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminQna?pageNo=1'|">전체</a></li>
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminQna?answerStatus=0&pageNo=1'|">답변대기중</a></li>
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminQna?answerStatus=1&pageNo=1'|">답변완료</a></li>
						    <li><a class="dropdown-item" th:onclick="|location.href='/adminQna?answerStatus=2&pageNo=1'|">해결완료</a></li>
						  </ul>
						</div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">문의내역</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>작성자</th>
                                            <th>문의제목</th>
                                            <th>문의내용</th>
                                            <th>문의일자</th>
                                            <th>처리상태</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        <tr th:each="qna : ${adminQna}" th:onclick="|location.href='/qnaBoard/${qna.qnaBoardNo}'|">
                                            <td th:text="${qna.qnaName}"></td>
                                            <td th:text="${qna.title}"></td>
                                            <td th:text="${qna.content}"></td>
                                            <td th:text="${#dates.format(qna.writeDate, 'yyyy/MM/dd')}"></td>
                                            <td th:text="${qna.qnaState}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                             <!-- Pagination -->
    <th:block th:if="${pageDTO != null}">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${pageDTO.prev}">
        	<th:block th:if="${answerStatus == null}">
            <a class="page-link" th:href="|/adminQna?pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </th:block>
            <th:block th:if="${answerStatus == '2'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=2&pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        	</th:block>
        	<th:block th:if="${answerStatus == '1'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=1&pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        	</th:block>
        	<th:block th:if="${answerStatus == '0'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=0&pageNo=${pageDTO.curPage-1}|" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        	</th:block>
        </li>
        <li th:class="${pageNo == pageDTO.curPage}? 'page-item active' : 'page-item'" th:each="pageNo : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
        	<th:block th:if="${answerStatus == null}">
        		<a class="page-link" th:href="|/adminQna?pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        	<th:block th:if="${answerStatus == '2'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=2&pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        	<th:block th:if="${answerStatus == '1'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=1&pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        	<th:block th:if="${answerStatus == '0'}">
        		<a class="page-link" th:href="|/adminQna?answerStatus=0&pageNo=${pageNo}|">[[${pageNo}]]</a>
        	</th:block>
        </li>
        <li class="page-item">
        	<th:block th:if="${answerStatus == null}">
            <a class="page-link" th:href="|/adminQna?pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        	<th:block th:if="${answerStatus == '2'}">
            <a class="page-link" th:href="|/adminQna?answerStatus=2&pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        	<th:block th:if="${answerStatus == '1'}">
            <a class="page-link" th:href="|/adminQna?answerStatus=1&pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        	<th:block th:if="${answerStatus == '0'}">
            <a class="page-link" th:href="|/adminQna?answerStatus=0&pageNo=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </th:block>
        </li>
    </ul>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © 2024 AskCode, Inc</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    
</body>

</html>