<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content"
>
<section>
	<div id="qna_banner">
		<h3>자유게시판</h3>
		<p style="color:#76767e">일상, 잡담, 유머 등 어떤 주제든 자유롭게 게시글을 작성할 수 있습니다.</p>
	</div>
	<div class="container">
		<!--/* 질문글 */-->
		<div class="questionInfo">
			<div class="row" id="questionInfo2"><!-- 질문글 제목 / 신고삭제 -->
				<div id="questionTitle" class="col-9">  <!-- 사이드 태그 / 질문제목, 포인트 -->
					<h5 class="qna_logo" style="font-size: 30px"></h5>
					<div class="qna_title">
						<div>
							<h4  style="font-weight:bold" th:text="${freeBoardInfo.title}"></h4>
						</div>
					</div>
				</div>
				<div id="qna_deleteBtn" class="col-2"> <!-- 수정삭제 or 신고 / 작성날짜 -->
						<p style="color:#3e6ce3" th:text="${freeBoardInfo.writeDate}"></p>
				</div>
			</div><!-- 질문글 제목 / 신고삭제 끝-->
			<div class="qna_contents"> <!-- 질문 내용 -->
				<p th:text="${freeBoardInfo.content}"></p>
				
			</div>
			<div id="question_bottom" class="row"> <!-- 작성자 프로필 -->
				<!-- 조회, 북마크, 추천, 덧글수 버튼 -->
				<div id="qna_iconAll"> 
					<span>					
						<img class="qna_icon" src="/commonResource/icon/eye.png" alt="eye">
					</span>
					<span th:text="${freeBoardInfo.viewCnt}"></span>
					<span>					
						<img class="qna_icon" src="/commonResource/icon/best.png" alt="best">
					</span>
					<span th:text="${freeBoardInfo.recommendCnt}"></span>
				</div>
			</div>
			<hr>	
		</div>
		<!-- content end -->
		
		<!-- reply  -->
		<div class="w-100 mb-3 clearfix">
		<div>
			<div class="d-flex justify-content-center">
				<textarea id="commentInput" rows="5" class="mt-4" placeholder="여러분의 생각을 댓글로 자유롭게 표현해주세요." style="width:90%;"></textarea>
			</div>
			<div class="d-flex justify-content-end my-2 gap-1" style="width:95%;">
				<button class="btn" type="button" style="color:white; background-color:#3e6ce3" onclick="registReply()">댓글등록</button>
				<button class="btn" type="button" style="color:white; background-color:#80a9e8" data-bs-toggle="modal" data-bs-target="#emoModal">이모티콘 등록</button>
			</div>
		</div>
		<br>
		<!--/*댓글 반복구간  */-->
		<div class="mt-1 w-100 mb-5" th:each="reply : ${replyList}">
			<div>
				<!--/*댓글(부모) 헤더구간  */-->
				<div class="mx-5 d-flex justify-content-between" style="width:90%;">
					<div>
						<!--/* 프로필이미지가 null이라면 */-->
						<img th:if="${reply.value[0].parentImage} == null" style="width:5%;" th:src="|/commonResource/default_profile.jpg|" alt="profile" />
						<img th:unless="${reply.value[0].parentImage} == null" style="width:5%;" th:src="|upload/profile/${reply.value[0].parentImage}|" alt="profile" />
						<span>[[${reply.value[0].parentNickname}]]</span>
						<small th:text="${#dates.format(reply.value[0].parentWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></small>
					</div>
					<div>
						<button type="button" class="btn"><img style="width:25px;" th:src="|/commonResource/icon/best.png|" alt="recommend"/></button>
						[[${reply.value[0].parentRecCnt}]]
						<button type="button" class="btn mb-1"><img style="width:25px;" th:src="|/commonResource/icon/alert.png|" alt="alert"/></button>
					</div>
				</div>
				<!--/*댓글 내용구간  */-->
				<div style="width:90%; margin-left:93px;">
					<p style="margin-bottom:0px;">[[${reply.value[0].parentComment}]]</p>
				</div>
								
				<div style="width:90%; margin-left:80px;">
					<button type="button" class="btn" th:id="|nested${reply.key}|" th:onclick="|openNestedTextarea('nested${reply.key}','nestedComment${reply.key}')|">답글달기</button>
				</div>
				<!--/* 답글영역 */-->
				<div style="display:none;" th:id="|nestedComment${reply.key}|">
					<div class="d-flex justify-content-center">
						<textarea th:id="|nestedTextarea${reply.key}|" rows="5" class="mt-4" placeholder="여러분의 생각을 댓글로 자유롭게 표현해주세요." style="width:90%;"></textarea>
					</div>
					<div class="d-flex justify-content-end my-2 gap-1" style="width:95%;">
						<button class="btn" type="button" style="color:white; background-color:#3e6ce3" th:onclick="|registNestedReply(${reply.key})|">답글등록</button>
						<button class="btn" type="button" style="color:white; background-color:#80a9e8" data-bs-toggle="modal" data-bs-target="#emoModal">이모티콘 등록</button>
					</div>
				</div>
			</div>
			<!-- /* 대댓글(자식) */-->
			<th:block th:if="${reply.value[0].childReplyNo} != null">
				<div class="ms-4" th:each="innerReply : ${replyList[reply.key]}">
					<!--/*댓글 헤더구간  */-->
					<div class="mx-5 d-flex justify-content-between" style="width:90%;">
						<div>
							└<img th:if="${innerReply.childImage} == null" style="width:5%;" th:src="|/commonResource/default_profile.jpg|" alt="profile" />
							<img th:unless="${innerReply.childImage} == null" style="width:5%;" th:src="|upload/profile/${innerReply.childImage}|" alt="profile" />
							<span>[[${innerReply.childNickname}]]</span>
							<small th:text="${#dates.format(innerReply.childWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></small>
						</div>
						<div>
							<button type="button" class="btn"><img style="width:25px;" th:src="|/commonResource/icon/best.png|" alt="recommend"/></button>
							[[${innerReply.childRecCnt}]]
							<button type="button" class="btn mb-1"><img style="width:25px;" th:src="|/commonResource/icon/alert.png|" alt="alert"/></button>
						</div>
					</div>
					<!--/*댓글 내용구간  */-->
					<div style="width:90%; margin-left:108px;">
						<p style="margin-bottom:0px;">[[${innerReply.childComment}]]</p>
					</div>
				</div>
			</th:block>
		</div>
		<!--/*댓글 반복구간 끗 */-->
	</div>
		<!-- reply end  -->
		
	</div>
	<!-- end of container -->
</section>
</div>

<script th:inline="javascript">
</script>