<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content">
	<section>
		<div id="qna_banner">
			<h3>통합 검색</h3>
			<p style="color: #76767e">'[[${search}]]' 에 대한 통합 검색 결과입니다.</p>
		</div>

		<hr>


		<div style="display: flex; justify-content: space-between;">
			<h6>검색결과 : 총 [[${totalCnt}]]개</h6>
		</div>
<!-- 		<div class = "freeBoard" th:if=""></div> -->
		<!-- start of question -->
		<div class="container">
			<div class="questionBoard" style="width: 1100px;">

				<!-- start of postList -->
				<hr style="margin-bottom: 30px">
				<div id="freeBoardList" class="row"
					th:each="total, i : ${getMainTotalSearch}">
					<div id="title" class="col-8">
						<div id="park_member" style="height: 40px;">
								<span class="park_box_free">
                          			<img class="park_profile_free" th:onclick="|location.href='/member/${total.memberNo}'|" th:src="|/upload/profile/${total.profileImage}|" alt="profile">
                       			</span>
								<span class="park_nickname_free" th:onclick="|location.href='/member/${total.memberNo}'|" style="font-weight : bold;">[[${total.nickname}]]</span>

							<span  style="font-weight :; " class="park_activityPoint_free"><span class= "park_dot"> · </span><img id="thunder" src="/commonResource/thunder.png" alt="acti">[[${total.accumActivityPoint}]]
								<span class= "park_dot" th:if="${total.minute < 60}" th:text="' · ' + (${total.minute}) + '분 전'"></span>
								<span class= "park_dot" th:if="${total.minute >= 60 && total.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(total.minute / 60.0)}) + '시간 전'"></span>
								<span class= "park_dot" th:if="${total.minute >= 1440 && total.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(total.minute / 1440.0)}) + '일 전'"></span>
								<span class= "park_dot" th:if="${total.minute >= 43200 && total.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(total.minute / 43200.0)}) + '달 전'"></span>
								<span class= "park_dot" th:if="${total.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(total.minute / 518400.0)}) + '년 전'"></span>
							</span><br>
							<div class = "park_boardType">
								<span th:if="${total.boards == 'F'}" th:onclick="|location.href='/freeBoardList'|">자유</span>
								<span th:if="${total.boards == 'N'}" th:onclick="|location.href='/noticeBoard?pageNo=1'|">공지</span>
								<span th:if="${total.boards == 'S'}" th:onclick="|location.href='/sideProjectList/Q001/?pageNo=1'|">사이드</span>
								<span th:if="${total.boards == 'Q'}" th:onclick="|location.href='/questionList?pageNo=1'|">질문&답변</span>
							</div>
						
						</div>
					<div id="titleTag" class=park_title>
						
							<h4 th:if="${total.boards == 'F'}" th:onclick="|location.href='/freeBoardInfo/${total.boardNo}'|" th:text="${total.title}" style="text-align: left;"></h4>
							<h4 th:if="${total.boards == 'N'}" th:onclick="|location.href='/noticeInfo?noticeBoardNo=${total.boardNo}'|" th:text="${total.title}" style="text-align: left;"></h4>
							<h4 th:if="${total.boards == 'S'}" th:onclick="|location.href='/sideInfo/${total.boardNo}'|" th:text="${total.title}" style="text-align: left;"></h4>
							<h4 th:if="${total.boards == 'Q'}" th:onclick="|location.href='/questionInfo/${total.boardNo}'|" th:text="${total.title}" style="text-align: left;"></h4>
							
							<p style="color:#3e6ce3" th:text="${#dates.format(total.writeDate, 'yyyy-MM-dd')}"></p>

					</div>
			</div>
		<div class="col-1" style="text-align: center; margin: auto; margin-right:15px;">
						<h6 th:text="${total.viewCnt}"></h6>
						<h6>조회수</h6>
					</div>
					<hr style="margin-top: 30px; margin-bottom: 30px;">
				</div>
						<div style="display: flex; justify-content: flex-end;">
			<div style="position: relative;">
				<input type="text" id="searchInput" th:value="${search != null} ? ${search} : ''" placeholder="검색어 입력" class="min_searchInput"
					style="width: 150px;"> <img
					src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
					class="min_searchImg"
					style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%);">
			</div>
		</div>
				<!-- end of postList -->
				<!-- Pagination -->
				<th:block th:if="${pageDTO != null}">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:if="${pageDTO.prev}">
						
							<th:block th:if="${search != null}"> <!--/* 검색한 경우  */-->
								<a class="page-link" th:href="|/mainTotalSearch?pg=${pageDTO.curPage-1}&search=${search}|" aria-label="Previous"> 
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
								</a>
							</th:block>
							
							<th:block th:unless="${search != null}">
							  <a class="page-link" th:href="|/mainTotalSearch?pg=${pageDTO.curPage-1}|" aria-label="Previous"> 
									<span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span>
						 	 </a>
							</th:block>	
							
						</li>
					
					
						<li th:class="${pg == pageDTO.curPage}? 'page-item active' : 'page-item'" th:each="pg : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
							
							<th:block th:if="${search != null}"> 
								<a class="page-link" th:href="|/mainTotalSearch?pg=${pg}&search=${search}|">[[${pg}]]</a>
							</th:block>	
							
							<th:block th:unless="${search != null}">
								<a class="page-link" th:href="|/mainTotalSearch?pg=${pg}|">[[${pg}]]</a>
							</th:block>	
						</li>
						
						
						<li class="page-item">
						
							<th:block th:if="${search != null}"> 
								<a class="page-link" th:href="|/mainTotalSearch?pg=${pageDTO.curPage+1}&search=${search}|" aria-label="Next" th:if="${pageDTO.next}"> 
									<span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
								</a>
							</th:block>	
							
							<th:block th:unless="${search != null}">
								<a class="page-link" th:href="|/mainTotalSearch?pg=${pageDTO.curPage+1}|" aria-label="Next" th:if="${pageDTO.next}"> 
									<span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
								</a>
							</th:block>
							
						</li>
					</ul>
				</th:block>
			</div>
			<!-- end of questionBoard -->
		</div>
	</section>
</div>
<script th:inline="javascript">

$('#searchInput').on('keydown', function(e) {
	if (e.keyCode === 13) {
	const searchValue = $('#searchInput').val();
	if(searchValue == '') {
		showFailAlert("검색어를 입력해 주세요.");
		return;
		}
	window.location.href = "/mainTotalSearch?pg=1&search=" + $('#searchInput').val();
	}

		
	});
	
</script>
<style>
.park_boardType{
margin-left : 10px;
border-radius:5px;
background-color : #3e6ce3;
color : white; 
font-size : small;
padding:3px;
cursor : pointer;	

}
</style>