<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content"
>
<section>
	<div id="qna_banner">
		<h3>질문&답변</h3>
		<p>좋은 질문에 좋은 답변으로 함께 토론해봐요 </p>
	</div>
	<!-- start of question -->
	<div class="container">
	<!-- start of sidebar -->
		<div id="QNAsidebar" style="float:left; width: 250px;height:1500px;">
			<br>
			<aside style="margin-right:30px; margin-top:50px;">
				<section>
					<h5>인기 태그</h5>
		            <hr>
		            <table class="QNAsidemenu">
		               <tr>
		                  <td>
			                  <span class="QNAtag"># spring</span>
			                  <span class="QNAno">300</span>
		                  </td>
		               </tr>
		               <tr>
		                  <td>
			                  <span class="QNAtag"># springboot</span>
			                  <span class="QNAno">200</span>
		                  </td>
		               </tr>
		               <tr>
		                  <td>
			                  <span class="QNAtag"># java</span>
			                  <span class="QNAno">90</span>
		                  </td>
		               </tr>
		               <tr>
		                  <td>
			                  <span class="QNAtag"># node.js</span>
			                  <span class="QNAno">50</span>
		                  </td>
		               </tr>
		               <tr>
		                  <td>
			                  <span class="QNAtag"># vue</span>
			                  <span class="QNAno">10</span>
		                  </td>
		               </tr>
		             </table>
	            </section>
				
				<section class = "QNArank">
					<h5>실시간 랭킹 <span class="QNAmore"> +더보기</span></h5>
		            <hr>
		            <table class="QNAsidemenu">
		               <tr>
		                  <td>
			                  <span class="qna_box">
					     			<img class="qna_profile" src="/commonResource/cookie.png" alt="profile">
			                  </span>
			                  <span class="QNAname">user01</span><span class="QNAno">300</span>
		                  </td>
		               </tr>
		         	   <tr>
		                  <td>
			                  <span class="qna_box">
					     			<img class="qna_profile" src="/commonResource/cookie.png" alt="profile">
			                  </span>
			                  <span class="QNAname">cookie123</span><span class="QNAno">20</span>
		                  </td>
		               </tr>
		             </table>
	            </section>
			</aside>
		</div>
		<!-- end of sidebar -->
		<div class="questionBoard" style="width:1100px;">
			<!-- 상단 선택 메뉴 -->
			<ul id="qna_topic" class="list-unstyled d-flex gap-3 align-self-center ml-3">
	             <li>전체</li>
	             <li>기술</li>
	             <li>사이드 프로젝트</li>
	             <li id="search" style="margin-left: auto;">
	             	<div class="min_search-align-self-center" >
			  			<input type="text" placeholder="검색어 입력" class="min_searchInput">
			  			<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" class="min_searchImg">
					</div>
	             </li>
	        </ul>
	        <hr>
			<!-- 추천순 정렬, 작성버튼 -->
			<div>
				<div class="btn-group">
					  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					    추천순
					  </button>
					  <ul class="dropdown-menu">
					    <li><a class="dropdown-item" href="#">추천순</a></li>
					    <li><a class="dropdown-item" href="#">최신순</a></li>
					    <li><a class="dropdown-item" href="#">답변순</a></li>
					    <li><a class="dropdown-item" href="#">조회순</a></li>
					  </ul>
				</div>
				<div style="float: right;">
					<button type="button" onclick="location.href='/loginForm'" 
						th:if="${loginId == '-1'}"
					  class="btn text-white" style="background-color:#3e6ce3">질문하기</button>
					<button type="button" onclick="location.href='/questionWrite'" 
						th:unless="${loginId == '-1'}"
					 class="btn text-white" style="background-color:#3e6ce3">질문하기</button> 
				</div>
			</div>

			<!-- start of postList -->
			<hr style="margin-bottom:30px">
			<div id="questionList"  class="row" th:each="question : ${questionList}">
				<div id="title" class="col-8">
					<div id="member" style="height:40px;">
						<div class="qna_box">
						    <img class="qna_profile" th:src="|/upload/profile/${question.profileImage}|" alt="profile">
						</div>
						<p th:text="${question.id}">cookie123</p>
					</div>
				  	<div id="titleTag">
					    <h4 th:text="${question.title}"  th:onclick="|location.href='/questionInfo/${question.questionBoardNo}'|">node.js에 대한 질문이 있습니다.</h4>
					    <p style="color:blue" th:text="${question.tag}">#node.js #mysql</p>
				 	</div>
			 	</div>
				<div class="col-1" style="text-align:center; margin:auto;">
				 	<h6 th:text="${question.viewCnt}">2</h6>
				 	<h6>조회</h6>
				</div>
				<div class="col-1" style="text-align:center; margin:auto;">
				 	<h6 th:text="${question.recommendCnt}">5</h6>
				 	<h6>추천</h6>
				</div>
				<div id="answercnt" class="col-1" style="text-align:center; margin:auto;">
				 	<h6 class="QNAcnt" th:text="${question.answerCnt}">10</h6>
				 	<h6>답변</h6>
				</div>
				<hr style="margin-top:30px; margin-bottom:30px;">
			</div>
			<!-- end of postList -->
			<!-- 페이지 시작 -->
			<div style="margin-left:250px;">
			    <ul class="pagination justify-content-center">
			        <li class="page-item">
			            <a class="page-link" href="#" aria-label="Previous">
			                <span aria-hidden="true">&laquo;</span>
			                <span class="sr-only">Previous</span>
			            </a>
			        </li>
			        <li class="page-item">
			            <a class="page-link" href="#">1</a>
			        </li>
			        <li class="page-item">
			            <a class="page-link" href="#">2</a>
			        </li>
			        <li class="page-item">
			            <a class="page-link" href="#">3</a>
			        </li>
			        <li class="page-item">
			            <a class="page-link" href="#" aria-label="Next">
			                <span aria-hidden="true">&raquo;</span>
			                <span class="sr-only">Next</span>
			            </a>
			        </li>
			    </ul>
			</div>
			<!-- 페이지 끝-->
			
		</div>
		<!-- end of questionBoard -->
	</div>
</section>
</div>
<script th:inline="javascript">
	const test2 = [[${loginId}]]
	//const test = [[ ${questionInfo} ]];
	function test(a) {
		console.log(a);
	}
	
	
</script>