<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content"
>
<section>
	<div id="qna_banner">
		<h3>질문&답변</h3>
		<p style="color:#76767e">좋은 질문에 좋은 답변으로 함께 토론해봐요 </p>
	</div>
	<div class="container" style="width:1000px;">
		<!-- 상단 선택 메뉴 -->
		<div>
			<ul id="qna_topic" class="list-unstyled d-flex gap-3 align-self-center ml-3">
	             <li>전체</li>
	             <li>기술</li>
	             <li>사이드 프로젝트</li>
	        </ul>
	        <hr>
		</div>
		<!--/* 질문글 */-->
		<div class="questionInfo">
			<div class="row" id="questionInfo2"><!-- 질문글 제목 / 신고삭제 -->
				<div id="questionTitle" class="col-9">  <!-- 사이드 태그 / 질문제목, 포인트 -->
					<h1 class="qna_logo" style="margin-bottom:8px;">Q</h1>
					<div class="qna_title">
						<div>
							<button th:if="${questionInfo[0][0].topic == 'H001'}"
								type="button" class="btn" 
								style="background-color:#e0e0e7; color:#3e6ce3; font-weight:bold; font-size:12px;margin-bottom:5px;
									  --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
								기술
							</button>
							<button th:if="${questionInfo[0][0].topic == 'H002'}"
								type="button" class="btn" 
								style="background-color:#e0e0e7; color:#3e6ce3; font-weight:bold; font-size:12px;margin-bottom:5px;
									  --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
								사이드프로젝트
							</button>
							<h4 th:text="${questionInfo[0][0].title}" style="font-weight:bold">Node.js에 관련된 질문이 있습니다.</h4>
						</div>
					</div>
					<div class="qna_second_line" th:if="${questionInfo[0][0].point} != 0">
						<p class="qna_blueBtn" th:text="${questionInfo[0][0].point}">1000</p>
					</div>
				</div>
				<div id="qna_deleteBtn" class="col-2"> <!-- 수정삭제 or 신고 / 작성날짜 -->
						<div th:if="${loginId == questionInfo[0][0].id}">
							<span id="questionModify">수정</span><span>삭제</span>
						</div>
						<span th:unless="${loginId == questionInfo[0][0].id}">신고</span>
						<p  th:text="${questionInfo[0][0].writeDate}">2023.01.28</p>
				</div>
			</div><!-- 질문글 제목 / 신고삭제 끝-->
			<div class="qna_contents" > <!-- 질문 내용 -->
				<p th:utext="${questionInfo[0][0].contents}">node.js를 이해하기 위해 질문드립니다.
					블로그 같은 곳에서 node.js에 대해서 공부 하다보니, 개념이 이해가 안 되는데,
					
					1. 일종의 javascript를 돌리기 위한 일종의 서버라고 이해하면 되죠?
					
					2.Node.js가 나오기 전까지는 자바스크립트가 브라우저의 동작을 제어하는데 사용되었고 브라우저에서만 실행할 수 있다는데,
					  여기서 말하는 브라우저 바깥에서 자바 스크립트를 어떤 상황에서 쓴다는 말인가요?
				</p>
				<p style="color:blue" th:text="${questionInfo[0][0].tag}">#node.js #mysql</p>
			</div>
			<div id="question_bottom" class="row"> <!-- 작성자 프로필 -->
				<div id="member" class="col-8" style="height:40px;">
					<div class="qna_box2">
					   <img class="qna_profile" th:src="|/upload/profile/${questionInfo[0][0].profileImage}|" alt="profile">
					</div>
					<p class="m-0" th:text="${questionInfo[0][0].id}">cookie123</p>
					<p class="m-0" th:text="${questionInfo[0][0].memberLevel}">silver</p>
				</div>
				<!-- 조회, 북마크, 추천, 덧글수 버튼 -->
				<div id="qna_iconAll" class="col-3"> 
					<span><img class="qna_icon" src="/commonResource/icon/eye.png" alt="eye"></span>
					<span th:text="${questionInfo[0][0].viewCnt}">10</span>
					<span><img class="qna_icon" src="/commonResource/icon/bookmark.png" alt="bookmark"></span>
					<span th:text="${questionInfo[0][0].bookmarkCnt}">13</span>
					<span><img class="qna_icon" src="/commonResource/icon/best.png" alt="best"></span>
					<span th:text="${questionInfo[0][0].recommendCnt}">9</span>
					<span><img class="qna_icon" src="/commonResource/icon/reply.png" alt="reply"></span>
					<span th:text="${questionInfo[0][0].replyCnt}">7</span>
				</div>
			</div>
			<hr>	
		</div>
		<!-- questionInfo 질문글 끝-->
		 
		<!-- 답변 작성폼 / 작성자 != 로그인유저 and 답변 단 적 없을 때-->
	 	<th:block sec:authorize="isAuthenticated()" th:if="${loginId != questionInfo[0][0].id and writePost == false}" >
		 	<form name="answerWrite">
			 	<div style="width:900px;margin: 0 auto;">
					<div class="answer-top" style="height:80px;">
						<div class="min_answerbox" >
						   <img class="answer_profile" th:src="|/upload/profile/${session.member.profileImage}|" alt="profile">
						</div>
						<div class="min_align_bottom">
							<h6 class="m-1" style="font-weight : bold;">[[${loginId}]]님 답변해주세요!</h6>
							<p class="m-0" style="font-size:13px;color:#989daa;"> 답변하시면 활동점수 50점을 드립니다.</p>
						</div>
					</div>
					<div>
						<label for="answerTitle" style="font-weight:bold; margin-bottom:8px;">제목</label>
						<input id="answerTitle" name="answerTitle" type="text" class="form-control" placeholder="제목을 입력해주세요">
						<br>
					
						<label for="editor" style="font-weight:bold; margin-bottom:8px;">답변 내용</label>
						<div id="editor" name="editor" style="height:300px;"></div>
						<br>
					</div>
					<div style="float: right;margin-bottom:10px;">
						<button type="button" class="btn text-white" style="background-color:#989daa; margin:10px;">취소</button>
						<button type="button" class="btn text-white" style="background-color:#3e6ce3;" onclick="sendAnswer()">등록</button>
					</div>
					<br><br><br><hr>
			 	</div>
		 	</form>
		</th:block>
		<!-- 답변 작성폼 끝 -->
		
		<!-- 답변 리스트 시작 -->
		<!-- 채택답변 -->
		<div class="questionInfo" th:if="${isAdopt} == true">
	      	<div>
	            <div style="width:900px; margin:0 auto">
	               <div class="row" id="questionInfo2">
	                  <!--사이드 태그 / 질문제목, 포인트-->
	                  <div id="questionTitle" class="col-9">  
	                     <h1 class="qna_logo">A</h1>
	                     <div class="qna_title">
	                        <div>
	                           <button type="button" class="btn" style="background-color:#e0e0e7; color:#3e6ce3; font-weight:bold; font-size:12px; margin-bottom:5px;
	                                   --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
	                              질문자 채택
	                           </button>
	                           <h4 style="font-weight:bold" th:text="${AdoptQuestionVO.answerTitle}">질문에 대한 답변입니다.</h4>
	                        </div>
	                     </div>
	                  </div>
	                  <div id="qna_deleteBtn" class="col-2"> <!-- 신고 / 작성날짜 -->
	                     <span th:unless="${loginId != AdoptQuestionVO.id}">신고</span>
	                     <p>2023.01.28</p>
	                  </div>
	               </div>
	               <!-- 질문글 제목 / 신고삭제 끝 -->
	               <div class="qna_contents" th:utext="${AdoptQuestionVO.answerContents}">
	                  <p>답변 내용입니다</p>
	               </div>
	               <div id="question_bottom" class="row"> <!--작성자 프로필 -->
	                  <div id="member" class="col-7" style="height:40px;">
	                     <div class="qna_box2">
	                        <img class="qna_profile" th:src="|/upload/profile/${AdoptQuestionVO.answerProfileImage}|" alt="profile">
	                     </div>
	                     <p class="m-0" th:text="${AdoptQuestionVO.answerId}">cookie123</p>
	                     <p class="m-0" th:text="${AdoptQuestionVO.answerMemberLevel}">silver</p>
	                  </div>
	                  <!-- 조회, 북마크, 추천, 덧글수 버튼 -->
	                  <div id="qna_iconAll" class="col-3">
	                     <span>               
	                        <img class="qna_icon" src="/commonResource/icon/best.png" alt="best">
	                     </span>
	                     <span th:text="${AdoptQuestionVO.answerViewCnt}">9</span>
	                     <span>      
	                        <img class="qna_icon" src="/commonResource/icon/reply.png" alt="reply">
	                     </span>
	                     <span th:text="${AdoptQuestionVO.answerReplyCnt}">7</span>
	                     <button type="button" class="btn text-white" 
	                        th:if="${AdoptQuestionVO.answerAdoptStatus == 'I002'}"
	                        style="background-color:#80a9e8;font-size:12px; margin-left:15px;--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
	                        추가질문하기
	                     </button>
	                  </div>
	               </div>
	               <hr>   
	            </div>
	            <!-- 추가질문답변 목록-->
	            <div class="questionInfo" th:each="questionIdx : ${questionInfo}">
	               <th:block th:each="question: ${questionIdx.value}">   
	                  <div th:if="${question.addStatus == 'R002'}">
	                        <div id="qna_add">
	                           <!-- 질문자/작성자 구분 -->
	                           <img th:if="${question.addWriterType == 'J001'}"
	                              class="qna_add_icon" src="/commonResource/add_question.png" alt="profile">
	                           <img th:unless="${question.addWriterType == 'J001'}" 
	                              class="qna_add_icon" src="/commonResource/add_answer.png" alt="profile">
	                           <div class="qna_add_info">
	                              <span th:if="${question.addWriterType == 'J001'}" 
	                                 class="m-1" style="font-weight:bold;">질문자의 추가질문</span>
	                              <span th:unless="${question.addWriterType == 'J001'}" 
	                                 class="m-1" style="font-weight:bold;">답변자의 추가답변</span>
	                              <span th:if="${loginId != questionInfo[0][0].id}" style="float:right;font-size: 15px;color:#76767e;">신고</span>
	                              
	                           <!-- 추가질문답변 리스트 -->
	                              <p class="m-1" th:text="${question.addContents}">추가로 질문할 게 있는데 </p>
	                              <span class="m-1" th:text="${question.addWriteDate}" style="font-size: 15px; color:#76767e;">2023.01.27</span>
	                              <span style="float:right;" th:if="${loginId == questionInfo[0][0].id} and ${question.addWriterType == 'J002'} ">
	                                 <img src="/commonResource/icon/check.png" alt="profile" style="width:35px;" >
	                                 <a style="color:#3e6ce3;font-weight:bold;">채택</a>
	                              </span>
	                           </div>
	                        </div>
	                  </div>      
	               </th:block>
	            </div>
	            <!-- 추가질문답변 목록 끝 -->      
	            <!-- 추가질문답변 등록칸 -->
	            <div>
	               <div>
	                  <div id="qna_add" th:if="${loginId == questionInfo[0][0].id}">            
	                  <img class="qna_add_icon" src="/commonResource/add_question.png" alt="profile">
	                  <textarea class="form-control" id="qna_add_form" placeholder="답변자에게 추가로 질문을 남겨주세요!"></textarea>
	               </div>
	               
	               <div id="qna_add" th:if="${loginId == AdoptQuestionVO.answerId}">            
	                  <img class="qna_add_icon" src="/commonResource/add_answer.png" alt="profile">
	                  <textarea class="form-control" id="qna_add_form" placeholder="질문자에게 추가로 답변을 남겨주세요!"></textarea>
	               </div>
	               
	               <div  th:if="${loginId == questionInfo[0][0].id} or ${loginId == AdoptQuestionVO.answerId}" style="float: right;margin-bottom:10px;">
	                  <button type="button" class="btn text-white" style="background-color:#3e6ce3;margin-right:66px;">등록</button>
	               </div>
	               <br><br><br><hr>
	               </div>
	            </div>   
	            <!-- 추가질문,답변 끝 -->
	     	 </div>
		</div>
		<!-- 채택답변 끝 -->
		
		<!-- 미채택답변 리스트 -->
			<!-- 답변 수정 -->
					<div style="display:none" th:if="${writePost} == true and ${session.member.memberNo} == ${question.answerMemberNo}" id="answerModifyForm">	
						<form name="answerModify">
						 	<div style="width:900px;margin: 0 auto;">
								<div class="answer-top" style="height:80px;">
									<div class="min_answerbox" >
									   <img class="answer_profile" th:src="|/upload/profile/${session.member.profileImage}|" alt="profile">
									</div>
									<div class="min_align_bottom">
										<h6 class="m-1" style="font-weight : bold;">[[${loginId}]]님의 답변 수정하기</h6>
										<p class="m-0" style="font-size:13px;color:#989daa;"> 답변이 채택되면 활동점수 20점을 드립니다.</p>
									</div>
								</div>
								<div>
									<label for="answerTitle" style="font-weight:bold; margin-bottom:8px;">제목</label>
									<input id="answerTitle" name="answerTitle" type="text" th:value="${question.answerTitle}" class="form-control" placeholder="제목을 입력해주세요">
									<br>
								
									<label for="editor" style="font-weight:bold; margin-bottom:8px;">답변 내용</label>
									<div id="editor" name="editor" style="height:300px;" th:utext="${question.answerContents}"></div>
									<br>
								</div>
								<div style="float: right;margin-bottom:10px;">
									<button type="button" class="btn text-white" style="background-color:#989daa; margin:10px;">취소</button>
									<button type="button" class="btn text-white" style="background-color:#3e6ce3;" th:onclick="sendAnswerModify([[${question.answerBoardNo}]])">수정</button>
								</div>
								<br><br><br><hr>
						 	</div>
					 	</form>		
					</div>
					<!-- 답변 수정 끝 -->
		<div class="questionInfo" th:each="questionIdx : ${questionInfo}">
			<th:block th:each="question: ${questionIdx.value}">				
				<div th:if="${question.answerAdoptStatus == 'I001'}">
					<div class="row" id="questionInfo2">
						<div id="questionTitle" class="col-9">  <!--사이드 태그 / 질문제목, 포인트-->
							<h1 class="qna_logo">A</h1>
							<div class="qna_title">
								<div>
									<button type="button" 
											class="btn" style="background-color:#e0e0e7; color:#3e6ce3; font-weight:bold; font-size:12px; margin-bottom:5px;
											--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
											 th:if="${isAdopt == false}" th:onclick="adoptAnswer([[${question.answerBoardNo}]])">
										답변 채택하기
									</button>
									<h4 style="font-weight:bold" th:text="${question.answerTitle}">질문에 대한 답변입니다.</h4>
								</div>
							</div>
						</div>
						<div id="qna_deleteBtn" class="col-2"> <!-- 수정삭제 or 신고 / 작성날짜 -->
							<div th:if="${loginId == question.answerId}">
								<span id="answerModifyBtn" onclick="openModifyView()">수정</span>
								<span>삭제</span>
							</div>
							<span th:unless="${loginId == question.answerId}">신고</span>
							<p th:onclick="testBtn([[${question.answerBoardNo}]])">2023.01.28</p>
						</div>
					</div>
					<!-- 질문글 제목 / 신고삭제 끝 -->
					<!-- 답변글 본문 -->
					<div class="qna_contents" th:utext="${question.answerContents}">
						<p>답변 내용입니다</p>
					</div>
					<div id="question_bottom" class="row"> <!--작성자 프로필 -->
						<div id="member" class="col-7" style="height:40px;">
							<div class="qna_box2">
							   <img class="qna_profile" th:src="|/upload/profile/${question.answerProfileImage}|" alt="profile">
							</div>
							<p class="m-0" th:text="${question.answerId}">cookie123</p>
							<p class="m-0" th:text="${question.answerMemberLevel}">silver</p>
						</div>
						<!-- 조회, 북마크, 추천, 덧글수 버튼 -->
						<div id="qna_iconAll" class="col-3">
							<span><img class="qna_icon" src="/commonResource/icon/best.png" alt="best"></span>
							<span th:text="${questionInfo[0][0].answerViewCnt}">9</span>
							<span><img class="qna_icon" src="/commonResource/icon/reply.png" alt="reply"></span>
							<span th:text="${questionInfo[0][0].answerReplyCnt}">7</span>
						</div>
						<!-- 조회, 북마크, 추천, 덧글수 버튼 끝-->
					</div>
					<!-- 답변글 본문 끝 -->
					<hr>
				</div>
			</th:block> 
		</div>
		<!-- 미채택답변 리스트 끝 -->
	</div>
	<!-- end of container -->
</section>
</div>
<script th:inline="javascript">
	function openModifyView(){
		if($('#answerModifyBtn').text() == "수정") {
			$('#answerModifyBtn').text('수정닫기');
			$('#answerModifyForm').css('display','block');
		}
		else {
			$('#answerModifyBtn').text('수정');
			$('#answerModifyForm').css('display','none');
		}
	}

</script>
<script th:inline="javascript">
	 let test = [[${questionInfo}]];
	 let test2 = Object.values(test)[0][1];
	 let test3 = [[${writePost}]]
	 
	 let bno = [[${questionInfo[0][0].questionBoardNo}]]

	 //질문글 수정폼 이동
	 $(document).ready(function(){
	 	$('#questionModify').click(function(){
	 		window.location.href= "/questionWrite?bno=" + bno ;
	 	})
	 });
	 
	 //답변글 작성	 
	let csrfPara = $('meta[name="csrfPara"]').attr("content");
	let csrfToken = $('meta[name="csrf"]').attr("content");
	
	function sendAnswer(){
		const member = [[${session.member}]];
		
		const formData = new FormData(document.answerWrite);
	
		formData.append(csrfPara, csrfToken);
		formData.append("questionBoardNo", bno);
		formData.append("answerMemberNo", member.memberNo);
		formData.append("answerContents", editor.getHTML());
		
		$.ajax('/answerWrite', {
			type : "POST",
			data : formData,
			contentType : false,
			processData : false 	
		})
		.done(res => {
			/* showSuccessAlert('등록성공'); */
	    	window.location.href = "/questionInfo/"+ bno;
			console.log(res);
	    })
	    .fail(err => {
	    	console.log(err);
	    	showWarningAlert('등록실패');
	    })
		
	}
	//답변글 수정  
	function sendAnswerModify(answerBoardNo){
		const formData = new FormData();
	
		formData.append(csrfPara, csrfToken);
		formData.append("answerTitle", $('input[name="answerTitle"]').val());
		formData.append("answerBoardNo", answerBoardNo);
		formData.append("answerContents", editor.getHTML());
		
		$.ajax('/answerModify', {
			type : "POST",
			data : formData,
			contentType : false,
			processData : false 	
		})
		.done(res => {
			/* showSuccessAlert('수정성공'); */
	    	window.location.href = "/questionInfo/"+ bno;
			console.log(res);
	    })
	    .fail(err => {
	    	console.log(err);
	    	showWarningAlert('수정실패');
	    })
		
	}
	
	//답변 채택
	function adoptAnswer(answerBoardNo){
		const formData = new FormData();
	
		formData.append(csrfPara, csrfToken);
		formData.append("ano", answerBoardNo);
		
		$.ajax('/answerAdopt', {
			type : "POST",
			data : formData,
			contentType : false,
			processData : false 	
		})
		.done(res => {
			showSuccessAlert('채택성공');
	    	window.location.href = "/questionInfo/"+ bno;
			console.log(res);
	    })
	    .fail(err => {
	    	console.log(err);
	    	showWarningAlert('채택실패');
	    })
		
	}
	
	//테스트용 (지우기)
	function testBtn(answerBoardNo){
		console.log(answerBoardNo);
	}
</script>

<!-- text editor -->
<script>
const imageNoArray = [];

const editor = new toastui.Editor({
    el: document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
    height: '400px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
    initialEditType: 'WYSIWYG',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
    initialValue: '',     // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
    previewStyle: 'vertical',                // 마크다운 프리뷰 스타일 (tab || vertical)
    /* start of hooks */
    hooks: {
        async addImageBlobHook(blob, callback) { // 이미지 업로드 로직 커스텀
            try {
                //1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                const formData = new FormData();
                formData.append(csrfPara, csrfToken);
                formData.append('image', blob);

                // 2. FileApiController - uploadEditorImage 메서드 호출
                const response = await fetch('/texteditorimage', {
                    method : 'POST',
                    body : formData,
                });

                // 3. 컨트롤러에서 전달받은 디스크에 저장된 파일명
                const res = await response.json();
                console.log('서버에 저장된 파일명 : ', res);

                // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
                const imageUrl = res.imageUrl;
                imageNoArray.push(res.imageNo);
                callback(imageUrl, 'image alt attribute');

            } catch (error) {
                console.error('업로드 실패 : ', error);
            }
        }
    }
    /* end of hooks */
});

</script>