<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content"	  
>
<section>
	<!-- 질문글 작성폼 -->
	<div th:if="${questionVO} == null">
		<div class="container" style="width:1000px;">
			<h3 style="font-weight:bold; color:#3e6ce3;margin-left:20px;">질문 작성하기</h3>
			<hr>
			<!-- 질문 작성폼 시작 -->
			<form name="questionWrite">
				<div style="width:900px; margin:0 auto; ">
					<div class="d-flex justify-content-between">	
						<div style="width:48%;">
							<label for="topic" style="font-weight : bold;">토픽</label>
							<p style="font-size:14px; margin-bottom:8px;">질문과 관련된 토픽을 선택해주세요. </p>
		                    <select id="topic" name="topic" class="form-select" style="border:1px solid #ccc;">
		                    	<option value="" selected disabled hidden>토픽을 선택해주세요</option>
		                    	<option value="H001">기술</option>
		                    	<option value="H002">사이드 프로젝트</option>
		                    </select>
						</div>
						<div style="width:48%;">
							<label for="point" style="font-weight:bold;">포인트</label>
							<span style="margin-left:5px; font-size:12px;">보유 </span>
							<span style="font-size:12px;color:#3e6ce3; font-weight:bold;">1000원</span>
							<p style="font-size:14px; margin-bottom:8px;">답변자에게 지급할 포인트 금액을 입력해주세요. </p>
		                   <!-- 	<input type="text" class="form-control" value="0"> -->
		                   	<div class="chae_input-container" style="width:100%;">
							    <input id="point" name="point" type="text" class="chae_form-control" value="0" style="color:#3e6ce3;">
							    <button class="chae_pointBtn">전액사용</button>
							</div>
						</div>
					</div>
					<!-- 토픽, 포인트 끝 -->
					<br>
					<div>
						<div>
							<label for="title" style="font-weight:bold; margin-bottom:8px;">제목</label>
							<input id="title" name="title" type="text" class="form-control" placeholder="제목을 입력해주세요">
							<br>
						</div>
						<label for="tags" style="font-weight:bold; margin-bottom:8px;">태그</label>
						<input id="tag" name="tag" type="text" class="form-control" placeholder="태그를 입력해주세요">
						<br>
						<label for="editor" style="font-weight:bold; margin-bottom:8px;">질문 내용</label>
						<div id="editor" name="editor"></div>
						<br>
					</div>
					<div style="float: right;margin-bottom:10px;">
						<button type="button" class="btn text-white" style="background-color:#989daa; margin:10px;">취소</button>
						<button type="button" class="btn text-white" style="background-color:#3e6ce3;" onclick="sendQuestion()">등록</button>
					</div>
				</div>
				<!-- 질문 작성폼 끝 -->
			</form>
		</div>
		<!-- end of container -->
	</div>
	<!-- 질문글 작성폼 끝-->
	<!-- 질문글 수정폼 -->
	<div th:unless="${questionVO} == null">
		<div class="container" style="width:1000px;">
			<h3 style="font-weight:bold; color:#3e6ce3;margin-left:20px;">질문 작성하기</h3>
			<hr>
			<!-- 질문 작성폼 시작 -->
			<form name="questionWrite">
				<div style="width:900px; margin:0 auto; ">
					<div class="d-flex justify-content-between">	
						<div style="width:48%;">
							<label for="topic" style="font-weight : bold;">토픽</label>
							<p style="font-size:14px; margin-bottom:8px;">질문과 관련된 토픽을 선택해주세요. </p>
		                    <select id="topic" name="topic" th:value="${questionVO.topic}" class="form-select" style="border:1px solid #ccc;">
		                    	<option th:selected="${questionVO.topic}=='H001'" value="H001">기술</option>
		                    	<option th:selected="${questionVO.topic}=='H002'" value="H002">사이드 프로젝트</option>
		                    </select>
						</div>
						<div style="width:48%;">
							<label for="point" style="font-weight:bold;">포인트</label>
							<span style="margin-left:5px; font-size:12px;">보유 </span>
							<span style="font-size:12px;color:#3e6ce3; font-weight:bold;">1000원</span>
							<p style="font-size:14px; margin-bottom:8px;">답변자에게 지급할 포인트 금액을 입력해주세요. </p>
		                   <!-- 	<input type="text" class="form-control" value="0"> -->
		                   	<div class="chae_input-container" style="width:100%;">
							    <input id="point" name="point" type="text" th:value="${questionVO.point}" class="chae_form-control" style="color:#3e6ce3;">
							    <button class="chae_pointBtn">전액사용</button>
							</div>
						</div>
					</div>
					<!-- 토픽, 포인트 끝 -->
					<br>
					<div>
						<div>
							<label for="title"  style="font-weight:bold; margin-bottom:8px;">제목</label>
							<input id="title" name="title" type="text" th:value="${questionVO.title}" class="form-control" >
							<br>
						</div>
						<label for="tags" style="font-weight:bold; margin-bottom:8px;">태그</label>
						<input id="tag" name="tag" type="text" th:value="${questionVO.tag}" class="form-control">
						<br>
						<label for="editor" style="font-weight:bold; margin-bottom:8px;">질문 내용</label>
						<div id="editor" name="editor" th:utext="${questionVO.contents}" ></div>
						<br>
					</div>
					
					<div style="float: right;margin-bottom:10px;">
						<button type="button" class="btn text-white" style="background-color:#989daa; margin:10px;">취소</button>
						<button type="button" class="btn text-white" style="background-color:#3e6ce3;" onclick="sendQuestionModify()">수정</button>
					</div>
				</div>
				<!-- 질문 작성폼 끝 -->
			</form>
		</div>
		<!-- end of container -->
	</div>
	<!-- 질문글 수정폼 끝 -->
</section>
</div>

<!-- text editor -->
<script>
	let csrfPara = $('meta[name="csrfPara"]').attr("content");
	let csrfToken = $('meta[name="csrf"]').attr("content");
	
	const imageNoArray = [];
	
	const editor = new toastui.Editor({
	    el: document.querySelector('#editor'), // 에디터를 적용할 요소 (컨테이너)
	    height: '400px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
	    initialEditType: 'WYSIWYG',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
	    initialValue: '',     // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
	    previewStyle: 'vertical',                // 마크다운 프리뷰 스타일 (tab || vertical)
	    /* start of hooks */
        hooks: {
            async addImageBlobHook(blob, callback) { // 이미지 업로드 로직 커스텀
                try {
                    //1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                    const formData = new FormData();
                    formData.append(csrfPara, csrfToken);
                    formData.append('image', blob);

                    // 2. FileApiController - uploadEditorImage 메서드 호출
                    const response = await fetch('/texteditorimage', {
                        method : 'POST',
                        body : formData,
                    });

                    // 3. 컨트롤러에서 전달받은 디스크에 저장된 파일명
                    const res = await response.json();
                    console.log('서버에 저장된 파일명 : ', res);

                    // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
                    const imageUrl = res.imageUrl;
                    imageNoArray.push(res.imageNo);
                    callback(imageUrl, 'image alt attribute');

                } catch (error) {
                    console.error('업로드 실패 : ', error);
                }
            }
        }
        /* end of hooks */
	});

</script>

<script th:inline="javascript">
//질문 게시글 작성
function sendQuestion(){
	console.log('test',[[${session.member.memberNo}]]);
	const formData = new FormData(document.questionWrite);
	
	formData.append(csrfPara, csrfToken);
	formData.append("memberNo", [[${session.member.memberNo}]]);
	formData.append("contents", editor.getHTML());
	
	$.ajax('/questionWrite', {
		type : "POST",
		data : formData,
		contentType : false,
		processData : false 	
	})
	.done(res => {
		showSuccessAlert('등록성공');
    	window.location.href = "/questionList";
		console.log(res);
    })
    .fail(err => {
    	console.log(err);
    	showWarningAlert('등록실패');
    })
	
}

//질문 게시글 수정
function sendQuestionModify(){
	const formData = new FormData(document.questionWrite);
	
	formData.append(csrfPara, csrfToken);
	formData.append("memberNo", [[${session.member.memberNo}]]);
	formData.append("contents", editor.getHTML());
	
	$.ajax('/questionWrite', {
		type : "POST",
		data : formData,
		contentType : false,
		processData : false 	
	})
	.done(res => {
		showSuccessAlert('등록성공');
    	window.location.href = "/questionList";
		console.log(res);
    })
    .fail(err => {
    	console.log(err);
    	showWarningAlert('등록실패');
    })
	
}

</script>

