<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{layout/member/mainTemplate.html}"
	layout:fragment="content"	  
>	
	<div id="qna_banner">
      <h3>1:1 문의게시판</h3>
      <p style="color:#76767e">궁금한 점이 있다면 언제든 질문 남겨주세요 </p>
	</div>
   <div class="container">
	<div class="questionBoard" style="width:1344px;">
         <!-- 상단 선택 메뉴 -->
         <div class="d-flex justify-content-end" >
			<input type="text" placeholder="검색어 입력" class="park_searchInput w-25" id="searchInput" th:value="${search != null} ? ${search} : ''">
         </div>
           <hr>
         <!-- 추천순 정렬, 작성버튼 -->
         <div class="d-flex justify-content-between">
            <div class="btn-group">
                 <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
                 	th:text="${qnaInfo.isExistOb} ? '조회순' : '최신순'">
                   
                 </button>
                 <!--/* 검색어가 있는 상태에서 정렬기준을 다시 정립 */-->
                 <ul class="dropdown-menu">
					<li>
						<!--/* orderby 값을 넘겨주지않더라도 값이없으면 default는 최신순이라 넘기지않음. */-->
						<th:block th:if="${search != null}">
							<a class="dropdown-item" th:href="|/qnaBoard?pg=1&search=${search}|">최신순</a>
						</th:block>
						<th:block th:unless="${search != null}">
							<a class="dropdown-item" th:href="|/qnaBoard?pg=1|">최신순</a>
						</th:block>
					</li>
					<li>
						<th:block th:if="${search != null}">
							<a class="dropdown-item" th:href="|/qnaBoard?pg=1&search=${search}&ob=1|">조회순</a>
						</th:block>
						<th:block th:unless="${search != null}">
							<a class="dropdown-item" th:href="|/qnaBoard?pg=1&ob=1|">조회순</a>
						</th:block>
					</li>
                 </ul>
            </div>
            <div>
				<button type="button" class="btn text-white" style="background-color:#3e6ce3" onclick="location.href='/qnaBoard/write'">문의작성</button>
			</div>
         </div>
         
         <!-- start of postList -->
         <hr style="margin-bottom:30px">
         <div id="questionList"  class="row" th:each="qna : ${qnaInfo.qnaList}">
			<div id="title" class="col-10">
				<div id="park_member" style="height:40px;">
					<span class="park_box_free">
						<img class="park_profile_free" th:src="|/upload/profile/${session.member.profileImage}|" alt="profile" th:onclick="|location.href='/member/${session.member.memberNo}?pg=1'|">
					</span>
					<span class="park_nickname_free" th:onclick="|location.href='/member/${session.member.memberNo}?pg=1'|">[[${qna.nickname}]]</span>
					<span  style="font-weight :; " class="park_activityPoint_free"><span class= "park_dot"> · </span><img id="thunder" src="/commonResource/thunder.png" alt="acti">[[${qna.accumActivityPoint}]]
								<span class= "park_dot" th:if="${qna.minute < 60}" th:text="' · ' + (${qna.minute}) + '분 전'"></span>
								<span class= "park_dot" th:if="${qna.minute >= 60 && free.minute < 1440}" th:text="' · ' + (${T(java.lang.Math).round(qna.minute / 60.0)}) + '시간 전'"></span>
								<span class= "park_dot" th:if="${qna.minute >= 1440 && free.minute < 43200}" th:text="' · ' + (${T(java.lang.Math).round(qna.minute / 1440.0)}) + '일 전'"></span>
								<span class= "park_dot" th:if="${qna.minute >= 43200 && free.minute < 518400}" th:text="' · ' + (${T(java.lang.Math).round(qna.minute / 43200.0)}) + '달 전'"></span>
								<span class= "park_dot" th:if="${qna.minute > 518400}" th:text="' · ' + (${T(java.lang.Math).round(qna.minute / 518400.0)}) + '년 전'"></span>
					</span><br>
				</div>
				<div id="titleTag" class="park_title">
					<h4 class="mink_li_highlight" style="text-align:left;" th:onclick="|location.href='/qnaBoard/${qna.qnaBoardNo}'|">[[${qna.title}]]</h4>
				</div>
			</div>
			<div class="col-1" style="text-align:center; margin:auto;">
				<h6>[[${qna.viewCnt}]]</h6>
				<h6>조회</h6>
            </div>
           	<div id="mink_answercnt" class="col-1" style="text-align:center; margin:auto; background-color:#3e6ce3; color:white;">
                <h6>[[${qna.answerState}]]</h6>
           	</div>
           	<div>
           		<h6 th:text="${#dates.format(qna.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></h6>
           	</div>
            <hr style="margin-top:30px; margin-bottom:30px;">
         </div>
         
         
         <!-- end of postList -->
      </div>
      </div>
	 <!-- Pagination -->
	<th:block th:if="${qnaInfo.pageDTO != null}">
	<div class="mt-5">
    	<ul class="pagination justify-content-center">
        	<li class="page-item" th:if="${qnaInfo.pageDTO.prev}">
        		<th:block th:if="${search != null}"> <!--/* 검색한 경우  */-->
        			<th:block th:if="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬한 경우  */-->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage - 1}&search=${search}&ob=${qnaInfo.orderby}|" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                			<span class="sr-only">Previous</span>
            			</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬 안 한 경우  */-->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage - 1}&search=${search}|" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                			<span class="sr-only">Previous</span>
            			</a>            			
            		</th:block>
            	</th:block>
            	<th:block th:unless="${search != null}"> <!-- /* 검색안한 경우. */ -->
            		<th:block th:if="${qnaInfo.isExistOb}"> <!-- /* 검색안한 경우 & 정렬한 경우 */ -->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage - 1}&ob=${qnaInfo.orderby}|" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                			<span class="sr-only">Previous</span>
            			</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!-- /* 검색안한 경우 & 정렬 안 한 경우 */ -->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage - 1}|" aria-label="Previous">
                			<span aria-hidden="true">&laquo;</span>
                			<span class="sr-only">Previous</span>
            			</a>
            		</th:block>
            	</th:block>
        	</li>
        	
        	<li th:class="${pageNo == qnaInfo.pageDTO.curPage} ? 'page-item active' : 'page-item'" th:each="pageNo : ${#numbers.sequence(qnaInfo.pageDTO.startPage, qnaInfo.pageDTO.endPage)}">
        		<th:block th:if="${search != null}"> <!--/* 검색한 경우  */-->
        			<th:block th:if="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬한 경우  */-->
            			<a class="page-link" th:href="|/qnaBoard?pg=${pageNo}&search=${search}&ob=${qnaInfo.orderby}|">[[${pageNo}]]</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬 안 한 경우  */-->
            			<a class="page-link" th:href="|/qnaBoard?pg=${pageNo}&search=${search}|">[[${pageNo}]]</a>
            		</th:block>
            	</th:block>
            	<th:block th:unless="${search != null}"> <!-- /* 검색안한 경우. */ -->
            		<th:block th:if="${qnaInfo.isExistOb}"> <!--/* 검색 안 한 경우 & 정렬한 경우  */-->
            			<a class="page-link" th:href="|/qnaBoard?pg=${pageNo}&ob=${qnaInfo.orderby}|">[[${pageNo}]]</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!--/* 검색 안 한 경우 & 정렬 안 한 경우  */-->
            			<a class="page-link" th:href="|/qnaBoard?pg=${pageNo}|">[[${pageNo}]]</a>
            		</th:block>
            	</th:block>
        	</li>
        	
        	<li class="page-item" th:if="${qnaInfo.pageDTO.next}">
        		<th:block th:if="${search != null}"> <!--/* 검색한 경우  */-->
        			<th:block th:if="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬한 경우  */-->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage + 1}&search=${search}&ob=${qnaInfo.orderby}|" aria-label="Previous">
                			<span aria-hidden="true">&raquo;</span>
                			<span class="sr-only">Next</span>
            			</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!--/* 검색한 경우 & 정렬 안 한 경우  */-->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage + 1}&search=${search}|" aria-label="Previous">
                			<span aria-hidden="true">&raquo;</span>
                			<span class="sr-only">Next</span>
            			</a>            			
            		</th:block>
            	</th:block>
            	<th:block th:unless="${search != null}"> <!-- /* 검색안한 경우. */ -->
            		<th:block th:if="${qnaInfo.isExistOb}"> <!-- /* 검색안한 경우 & 정렬한 경우 */ -->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage + 1}&ob=${qnaInfo.orderby}|" aria-label="Previous">
                			<span aria-hidden="true">&raquo;</span>
                			<span class="sr-only">Next</span>
            			</a>
            		</th:block>
            		<th:block th:unless="${qnaInfo.isExistOb}"> <!-- /* 검색안한 경우 & 정렬 안 한 경우 */ -->
        				<a class="page-link" th:href="|/qnaBoard?pg=${qnaInfo.pageDTO.curPage + 1}|" aria-label="Previous">
                			<span aria-hidden="true">&raquo;</span>
                			<span class="sr-only">Next</span>
            			</a>
            		</th:block>
            	</th:block>
        	</li>
    	</ul>
    </div>
    </th:block>
<script th:inline="javascript">
	const insertResult = [[${qnaInsert}]];
	if(typeof insertResult != "undefined" && insertResult != null) {
		showSuccessAlert("등록 성공!");
	}

	// 정렬이 있었는지 체크
	const isExistOb = [[${qnaInfo.isExistOb}]];
	const ob = [[${qnaInfo.orderby}]]
	$('#searchBtn').on('click', function(e) {
		const searchValue = $('#searchInput').val();
		if(searchValue == '') {
			if(isExistOb)
				window.location.href = "/qnaBoard?pg=1&ob=" + ob;	
			else
				window.location.href = "/qnaBoard?pg=1";
			return;
		}
		
		if(isExistOb)
			window.location.href = "/qnaBoard?pg=1&search=" + $('#searchInput').val() +"&ob=" + ob;
		else
			window.location.href = "/qnaBoard?pg=1&search=" + $('#searchInput').val();
	});
	
	$('#searchInput').on('keydown', function(e) {
		if (e.keyCode === 13) {
			const searchValue = $('#searchInput').val();
			if(searchValue == '') {
				if(isExistOb)
					window.location.href = "/qnaBoard?pg=1&ob=" + ob;	
				else
					window.location.href = "/qnaBoard?pg=1";
				return;
			}
			
			if(isExistOb)
				window.location.href = "/qnaBoard?pg=1&search=" + $('#searchInput').val() +"&ob=" + ob;
			else
				window.location.href = "/qnaBoard?pg=1&search=" + $('#searchInput').val();
	    }
	})
	
	
</script>
</div>
