<div 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content"	  
>
	<!-- html 태그 작성. -->
	<section style="margin-top: 20px;">
		<!-- <div id="qna_banner">
			<h3>질문&답변</h3>
			<p>좋은 질문에 좋은 답변으로 함께 토론해봐요 </p>
		</div> -->
		<div class="container" style="width:1344px;">
			<div style="margin:0 auto; padding-left:195px;">
				<h3 style="font-weight:bold; color:#3e6ce3;">질문 작성하기</h3>
				<p>문의 답변은 1~2일 소요됩니다.</p>
			</div>
			<hr style="margin:0 auto; width:900px;">
			<!-- 질문 작성폼 시작 -->
			<div style="width:900px; margin:0 auto; ">
				<br>
				<div>
					<div>
						<h6 style="font-weight : bold;">제목</h6>
						<input type="text" class="form-control" placeholder="제목을 입력해주세요">
						<br>
					</div>
					
					<h6 style="font-weight : bold;">문의 내용</h6>
					<textarea class="form-control" style="height:300px;"></textarea>
					<br>
				</div>
				
				<div>
					<!-- style="height:30px;" -->
					<div class="d-flex justify-content-between">
						<h6 style="font-weight : bold; margin-top:15px;">첨부 파일</h6>
						<label for="attachFile" class="btn text-white" style="background-color:#3e6ce3; margin-bottom:8px;">파일 선택</label>
						<input id="attachFile" type="file" class="px-3 py-2 w-25 rounded" name="attachFile" style="display:none;" multiple>
					</div>
					<ul class="mink_scroll_ul" id="fileScroll">
						
					</ul>
				</div>
				
				<div style="float: right;margin-bottom:10px;">
					<button type="button" class="btn text-white" style="background-color:#989daa; margin:10px;">취소</button>
					<button type="button" class="btn text-white" style="background-color:#3e6ce3;">등록</button>
				</div>
			</div>
			<!-- 질문 작성폼 끝 -->
		</div>
	</section>
	
	<script th:inline="javascript">
		const fileDataTransfer = new DataTransfer();
		let fileIndex = 0;
		function pasteAttachFile() {
			// 새롭게 추가할 시 덮어씌운다.
			let files = Array.from($('#attachFile')[0].files);
			files.splice(fileIndex, 1);	
			files.forEach(file => { dataTransfer.items.add(file); });
			    
			$('#attachFile')[0].files = dataTransfer.files;
		}
		
		function deleteAttachFile(deleteli, fileIndex) {
			$("li").remove('#' + deleteli);
			pasteAttachFile();
		}	
	
		let attachFileList = [];
		let fileScroll = $('#fileScroll');
		$("#attachFile").on('change', (e) => {
			const files = e.target.files;
			const addedFileName = files[files.length - 1].name;
			const liID = 'file' + fileIndex++;
			
			const tagString = `
				<li id="${liID}" class="my-1">
					<div class="d-flex justify-content-between">
						<p>${addedFileName}</p>
						<button type="button" class="btn text-white" style="background-color:#3e6ce3; padding:5px;" onclick="deleteAttachFile('${liID}',${fileIndex})">삭제</button>		
					</div>
				</li>
			`;
			fileScroll.append(tagString);
			pasteAttachFile();
			//const fileName = $("#profileImg")[0].files[0].name;
			//const extensionName = fileName.slice(fileName.lastIndexOf(".") + 1).toLowerCase();
		
			//if(allowImgExtension.indexOf(extensionName) < 0) {
				//showWarningAlert('이미지파일만 삽입해주세요');
				//return;
			//}
		
			//$('#fileScroll').val($("#profileImg")[0].files[0].name);
		})
	</script>
</div>