<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedamFinal.aco.board.mapper.BoardMapper">
	<select id="getSideBoard" resultType="BoardVO">
	SELECT SIDE_BOARD_NO,
		PUBLISHING_STATUS,
		TITLE,
		CONTENT,
		WRITER,
		WRITE_DATE,
		RECRUIT_PERSONNEL,
		DEV_PERIOD,
		GIT_ADDRESS,
		VIEW_CNT,
		REPLY_CNT,
		TECH_OF_USE,
		MEMBER_NO
		
	FROM SIDE_PROJECT_BOARD
	WHERE ROWNUM <= 5

	</select>
</mapper>