<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedamFinal.aco.qnaBoard.mapper.QnABoardMapper">
	<select id="selectMyQnaBoardList" resultType="QnABoardVO">
		SELECT 
        	A.QNA_BOARD_NO, 
        	A.NICKNAME, 
        	A.TITLE, 
        	A.WRITE_DATE, 
        	A.CHANGE_DATE, 
        	SUBCODE_TO_NAME(A.ANSWER_STATE) AS ANSWER_STATE,  
        	A.VIEW_CNT
        	FROM (
            	SELECT 
            		ROWNUM AS RN, 
					B.QNA_BOARD_NO, 
					B.NICKNAME, 
					B.TITLE, 
					B.WRITE_DATE, 
					B.CHANGE_DATE, 
					B.ANSWER_STATE, 
					B.VIEW_CNT FROM (
                		SELECT 
                			C.QNA_BOARD_NO, 
                			D.NICKNAME, 
                			C.TITLE, 
                			C.WRITE_DATE, 
                			C.CHANGE_DATE, 
                			C.ANSWER_STATE, 
                			C.VIEW_CNT
                    			FROM QNA_BOARD C
                    			JOIN MEMBER D ON C.MEMBER_NO = D.MEMBER_NO
                    			WHERE D.MEMBER_NO = #{memberNo}
                    			<choose>
									<when test="ob.equals('View')">ORDER BY C.VIEW_CNT DESC</when>
    								<otherwise>ORDER BY C.WRITE_DATE DESC</otherwise>
								</choose>
                		) B
        		) A
	<![CDATA[
        	WHERE RN > ((#{pageNo}-1) * 5) AND RN <= (#{pageNo}) * 5
	]]>
	</select>
	<select id="selectMyQnaBoardCount" resultType="int">
		SELECT 
        	COUNT(*) AS CNT
            FROM QNA_BOARD
            WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<select id="selectMyQnaBoardListFromSearch" resultType="QnABoardVO">
		SELECT 
        	A.QNA_BOARD_NO, 
        	A.NICKNAME, 
        	A.TITLE, 
        	A.WRITE_DATE, 
        	A.CHANGE_DATE, 
        	SUBCODE_TO_NAME(A.ANSWER_STATE) AS ANSWER_STATE,  
        	A.VIEW_CNT
        	FROM (
            	SELECT 
            		ROWNUM AS RN, 
            		B.QNA_BOARD_NO, 
            		B.NICKNAME, 
            		B.TITLE, 
            		B.WRITE_DATE, 
            		B.CHANGE_DATE, 
            		B.ANSWER_STATE, 
            		B.VIEW_CNT FROM (
                		SELECT 
                			C.QNA_BOARD_NO, 
                			D.NICKNAME, 
                			C.TITLE, 
                			C.WRITE_DATE, 
                			C.CHANGE_DATE, 
                			C.ANSWER_STATE, 
                			C.VIEW_CNT
                    			FROM QNA_BOARD C
                    			JOIN MEMBER D ON C.MEMBER_NO = D.MEMBER_NO
                    			WHERE D.MEMBER_NO = #{memberNo} AND UPPER(C.TITLE) LIKE '%' || UPPER(#{search}) || '%' 
                    			<choose>
									<when test="ob.equals('View')">ORDER BY C.VIEW_CNT DESC</when>
    								<otherwise>ORDER BY C.WRITE_DATE DESC</otherwise>
								</choose>
                			) B
        			) A
	<![CDATA[
        	WHERE RN > ((#{pageNo}-1) * 5) AND RN <= (#{pageNo}) * 5
	]]>
	</select>
	<select id="selectMyQnaBoardCountFromSearch" resultType="int">
		SELECT 
        	COUNT(*) AS CNT
            FROM QNA_BOARD
            WHERE MEMBER_NO = #{memberNo} AND UPPER(TITLE) LIKE '%' || UPPER(#{search}) || '%' 
	</select>
	
	<insert id="insertQnaBoard" parameterType="QnABoardVO" useGeneratedKeys="false"> 
		INSERT INTO QNA_BOARD(
			QNA_BOARD_NO,                
			MEMBER_NO,               
			TITLE,                         
			CONTENT,                      
			QNA_ANSWER_CONTENT,           
			WRITE_DATE,            
			CHANGE_DATE,                    
			ANSWER_STATE,                        
			VIEW_CNT                                       
		)
		VALUES(
			QNA_BOARD_SEQ.NEXTVAL,
			#{memberNo},
			#{title},
			#{content},
			null,
			SYSTIMESTAMP,
			null,
			#{answerState},
			0
		)
		<selectKey keyProperty="pk" resultType="int" order="AFTER">
    		SELECT QNA_BOARD_SEQ.CURRVAL FROM DUAL
    	</selectKey>
	</insert>
	
	<delete id="deleteQnaBoard">
		DELETE FROM QNA_BOARD WHERE QNA_BOARD_NO = #{qnaBoardNo}
	</delete>
	
	<select id="selectQnaBoardDetail" parameterType="int" resultType="QnABoardJoinVO">
		SELECT 
    		A.QNA_BOARD_NO,
    		A.MEMBER_NO,
    		A.TITLE,
    		A.CONTENT,
    		A.QNA_ANSWER_CONTENT,
    		A.WRITE_DATE,
    		A.CHANGE_DATE,
    		SUBCODE_TO_NAME(A.ANSWER_STATE) AS ANSWER_STATE,
    		ANSWER_STATE AS STATE,
    		A.VIEW_CNT,
    		B.ATTACHED_FILE_NO,
    		B.SERVER_FILE_NAME,
    		B.ORIGIN_FILE_NAME,
    		B.FILE_PATH,
    		B.REGISTER_DATE
    	FROM QNA_BOARD A
    	LEFT JOIN ATTACHED_FILE B ON A.QNA_BOARD_NO = B.BOARD_NO AND B.BOARD_TYPE = 'N005'
    	WHERE A.QNA_BOARD_NO = #{qnaBoardNo}
	</select>
	<update id="updateQnABoardViewCnt" parameterType="int">
		UPDATE QNA_BOARD SET VIEW_CNT = VIEW_CNT + 1 WHERE QNA_BOARD_NO = #{qnaBoardNo}
	</update>
	<update id="updateQnAAnswer">
		UPDATE QNA_BOARD SET QNA_ANSWER_CONTENT = #{answer}, ANSWER_STATE = 'P002' WHERE QNA_BOARD_NO = #{qnaBoardNo}
	</update>
	<update id="updateQnAState">
		UPDATE QNA_BOARD SET ANSWER_STATE = #{state} WHERE QNA_BOARD_NO = #{qnaBoardNo}
	</update>
</mapper>