<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedamFinal.aco.member.mapper.MemberMapper">
<select id="getMember" resultType="MemberVO">
	SELECT  MID,
		PASS,
		NAME,
		PHONE,
		'ROLE_' || upper(RESPONSIBILITY) RESPONSIBILITY
		FROM MEMBER
		WHERE MID = #{mid}
		
</select>
<!-- 회원정보조회 -->
<select id="selectMemberInfo" resultType="MemberVO">
	SELECT m.member_no, 
	 	   m.email, 
	 	   m.nickname, 
	 	   m.profile_image, 
	 	   m.topic_hashtag, 
	 	   m.accum_activity_point, 
	 	   m.available_activity_point, 
	 	   m.aco_point,  
	 	   subcode_to_name(m.member_level) as member_level
	FROM member m 
	WHERE m.member_no = #{memberNo}


</select>
<!-- 내이모티콘구매내역조회 -->
<select id="selectMyemoticonList" resultType="com.yedamFinal.aco.myemoticon.MyEmoticonJoinVO">
	SELECT 
    ROWNUM, A.*
	FROM
	 ( SELECT 
	           m.member_no,
	           m.emo_name, 
		       m.emo_buydate
	 FROM my_emoticon m
	 ORDER BY m.emo_buydate desc ) A
	 JOIN member B ON A.member_no = B.member_no
	 WHERE A.member_no= #{memberNo} AND ROWNUM <![CDATA[ <= ]]> 3
</select>
<!-- 북마크리스트 -->
<select id="selectMybmList" resultType="com.yedamFinal.aco.bookmark.MybookmarkVO">
	 SELECT ROWNUM, A.*
	 FROM
	   (SELECT m.title,
		       m.regist_date,
		       m.member_no,
               m.question_board_no
		FROM my_bookmark m
		ORDER BY m.regist_date desc ) A
	JOIN member B ON A.member_no = B.member_no
    JOIN question_board C ON C.question_board_no = A.question_board_no
	WHERE A.member_no= #{memberNo} and rownum <![CDATA[ <= ]]> 3
</select>
<!-- 북마크 상세 -->
<select id="selectMyBookList" resultType="com.yedamFinal.aco.bookmark.MybookmarkVO">
	SELECT title, regist_date, member_no, question_board_no
	FROM my_bookmark
	WHERE member_no = #{memberNo}
	ORDER BY regist_date desc
	
</select>
<!-- 내가 질문한글 리스트 -->
<select id="selectMyqList" resultType="com.yedamFinal.aco.questionboard.MyquestionVO">
	 SELECT ROWNUM, A.*
	 FROM
	   (SELECT q.question_board_no,
		       q.title,write_date,
		       q.answer_cnt,
	           q.member_no
		FROM question_board q
		ORDER BY q.write_date desc ) A
	JOIN member B ON A.member_no = B.member_no
	WHERE A.member_no= #{memberNo} and rownum <![CDATA[ <= ]]> 3
</select>
<!-- 내가 질문한 리스트전체 페이지처리 -->
<select id="selectQuestionList" resultType="com.yedamFinal.aco.questionboard.MyquestionVO">
	 SELECT question_board_no,
		    title,write_date,
		    answer_cnt,
	        member_no
	FROM question_board
	WHERE member_no= #{memberNo}
	ORDER BY write_date desc
</select>
<!-- 사이드프로젝트 목록(더보기보달) -->
<!-- <select id="selectSideProjectList" resultType="com.yedamFinal.aco.sideboard.SideVO">
	 
</select> -->

<!-- 포인트사용내역 리스트 -->
<select id="selectPointDetailList" resultType="com.yedamFinal.aco.point.PointDetailJoinVO">
	SELECT member_no, history_date, INC_DEC_POINT, CASE WHEN INC_DEC_POINT <![CDATA[ > ]]> 0 THEN '0'
               ELSE '1' END AS acc_type
    FROM point_detail
    WHERE member_no=#{memberNo}
    ORDER BY history_date desc
</select>

<select id="selectCheckDuplicateId" resultType="MemberVO">
	SELECT id
		FROM member
		WHERE ID = #{id}
</select>
<select id="selectLogin" resultType="MemberVO">
	SELECT MEMBER_NO,ID,PASSWORD,EMAIL,PHONE_NUM,NAME,NICKNAME,PROFILE_IMAGE,TOPIC_HASHTAG,
	PERMISSION,LEAVE_DATE,ACCUM_ACTIVITY_POINT,AVAILABLE_ACTIVITY_POINT,ACO_MONEY,ACO_POINT,MEMBER_LEVEL,
	SNS_TYPE,BAN_TYPE,BAN_DATE,GIT_TOKEN
		FROM member
		WHERE ID = #{id}
</select>
<select id="selectCheckDuplicateEmail" resultType="MemberVO">
	SELECT email
		FROM member
		WHERE email = #{email}
</select>

<select id="selectVerifyAuthNumber" resultType="String">
	SELECT AUTH_CODE
		FROM AUTH_PHONE
		WHERE AUTH_CODE = #{authNum} AND PHONE_NUM = #{phoneNum}  
</select>

<insert id="insertAuthNumber">
	INSERT INTO AUTH_PHONE (
		AUTH_PHONE_NO, AUTH_CODE, EXPIRE_DATE, PHONE_NUM
	)
	VALUES ( AUTH_PHONE_SEQ.NEXTVAL, #{authNum}, SYSDATE + INTERVAL '3' MINUTE, #{phoneNum})
</insert>
  
<select id="selectAuthNumber" resultType="String">
	SELECT PHONE_NUM
		FROM AUTH_PHONE
		WHERE PHONE_NUM = #{phoneNum}
</select>
  
<delete id="deleteAuthNumber" parameterType="String"> 
	DELETE FROM AUTH_PHONE WHERE PHONE_NUM = #{phoneNum} 
</delete>

<update id="updateMemberGitToken">
	UPDATE MEMBER SET GIT_TOKEN = '${gitToken}' WHERE id = #{id}
</update>

<select id="selectTagList" resultType="com.yedamFinal.aco.common.TagVO">
	SELECT TAG_NAME
		FROM TAG
</select>
<insert id="insertMember" parameterType="MemberVO">
	INSERT INTO MEMBER (
		MEMBER_NO,ID,PASSWORD,EMAIL,
		PHONE_NUM,NAME,NICKNAME,PROFILE_IMAGE,TOPIC_HASHTAG,PERMISSION,LEAVE_DATE,ACCUM_ACTIVITY_POINT,
		AVAILABLE_ACTIVITY_POINT,ACO_MONEY,ACO_POINT,MEMBER_LEVEL,SNS_TYPE,BAN_TYPE,BAN_DATE
	)
	VALUES(
		member_seq.NEXTVAL,#{id},#{password},#{email},#{phoneNum},#{name},#{nickname},#{profileImage},
		#{topicHashtag},#{permission},null,#{accumActivityPoint},#{availableActivityPoint},#{acoMoney},#{acoPoint},#{memberLevel},
		null,null,null
	)
</insert>    
</mapper>