<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedamFinal.aco.member.mapper.MemberMapper">
<select id="getMember" resultType="MemberVO">
	SELECT  MID,
		PASS,
		NAME,
		PHONE,
		'ROLE_' || upper(RESPONSIBILITY) RESPONSIBILITY
		FROM MEMBER
		WHERE MID = #{mid}
		
</select>

<select id="selectCheckDuplicateId" resultType="MemberVO">
	SELECT id
		FROM member
		WHERE ID = #{id}
</select>
<select id="selectCheckDuplicateEmail" resultType="MemberVO">
	SELECT id
		FROM member
		WHERE email = #{email}
</select>

<select id="selectVerifyAuthNumber" resultType="String">
	SELECT AUTH_CODE
		FROM AUTH_PHONE
		WHERE AUTH_CODE = #{authNum} AND PHONE_NUM = #{phoneNum}  
</select>

<insert id="insertAuthNumber">
	INSERT INTO AUTH_PHONE (
		AUTH_PHONE_NO, AUTH_CODE, EXPIRE_DATE, PHONE_NUM
	)
	VALUES ( AUTH_PHONE_SEQ.NEXTVAL, #{authNum}, SYSDATE + INTERVAL '3' MINUTE, #{phoneNum})
</insert>
  
<select id="selectAuthNumber" resultType="String">
	SELECT PHONE_NUM
		FROM AUTH_PHONE
		WHERE PHONE_NUM = #{phoneNum}
</select>
  
<delete id="deleteAuthNumber" parameterType="String"> 
	DELETE FROM AUTH_PHONE WHERE PHONE_NUM = #{phoneNum} 
</delete>

<select id="selectTagList" resultType="com.yedamFinal.aco.common.TagVO">
	SELECT TAG_NAME
		FROM TAG
</select>    
</mapper>