<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.yedamFinal.aco.common.mapper.FileMapper">
	<insert id="insertFile">
		INSERT INTO ATTACHED_FILE 
		(
			ATTACHED_FILE_NO,        
			BOARD_TYPE,       
			BOARD_NO,        
			ORIGIN_FILE_NAME, 
			SERVER_FILE_NAME, 
			FILE_EXTENSION,  
			FILE_ORDER,        
			FILE_PATH, 
			REGISTER_DATE 
		)
		VALUES 
		(
			ATTACHED_FILE_SEQ.NEXTVAL,
			#{attachedFileNo},
			#{boardType},
			#{boardNo},
			#{originFileName},
			#{serverFileName},
			#{fileExtension},
			#{fileOrder},
			#{filePath},
			#{registerDate}
		)
		
	</insert>
</mapper>