@charset "UTF-8";

#banner{
	height:130px;
	background-color:#e0e4ef;
	margin-top:20px;
	margin-bottom:20px;
}
#banner h1 {
	 margin: 50spx 0px;
     text-align: left;
}

.questionBoard li{
	cursor: pointer;
}

#topic.list-unstyled li {
    font-size: 25px;
	margin-bottom:0;
	font-weight : bold;
	/* vertical-align: bottom; */
}
#topic.list-unstyled li:hover {
    color: #3e6ce3; /* 마우스를 가져다 댔을 때의 색상 */
}

/* 프로필 이미지 원형 */
.box {
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    margin: 5px;
    border-radius: 50%;
    position: relative; 
}

.profile {
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: center top; 
    position: absolute;
    top: 50%; /* 부모 요소에서 50% 위쪽으로 이동 */
    transform: translateY(-50%); /* 이미지의 중앙을 부모 요소의 중앙에 위치시킴 */
}

/* 태그, 랭킹 */
.tag{
 	 float: left;
 	/* margin-right:40px; */
}
.rank{
   margin-top:100px;
}
.no{
 	float: right;
    /* margin-left : 70px; */
    color : #3e6ce3;
    font-weight : bold;
}
.more{
    color : #3e6ce3;
    font-size: small;
    font-weight : bold;
    margin-left : 50px;
}
.sidemenu{
 	width: 170px;
 	margin:auto;
}

/*답변버튼*/
.cnt{
  font-weight : bold;
}
.col-1{
	text-align:center;
	margin:auto;
}
#answercnt{
	color : #3e6ce3;
	border-width : 1px;
    border-style : solid;
    border-radius: 15%;
    border-color: #989daa !important;
    width: 80px; 
    height: 80px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}