@charset "UTF-8";


.mink_scroll_ul {
	border : 1px solid black;
	overflow-y:scroll;
	list-style: none;
	height : 100px;
	padding:10px;
}

/* 프로필 이미지 원형 */
.mink_box {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin: 5px;
    border-radius: 50%;
    position: relative; 
	border : 0.5px solid black;
	border-color : hsla(220,9%,46%,.3);
   
}

.mink_profile {
    width: 100%;
    height: auto; 
    object-fit: cover;
    object-position: center top; 
    position: absolute;
    top: 50%; /* 부모 요소에서 50% 위쪽으로 이동 */
    transform: translateY(-50%); /* 이미지의 중앙을 부모 요소의 중앙에 위치시킴 */
}

.mink_btn_border_background_none {
	background-color:white;
	border:none;
}

.mink_searchImg {
	position: absolute;
	width: 2px;
	top: 297px;
	right: 326px;
}

#mink_answercnt{
	color : #3e6ce3;
	border-width : 1px;
	border-style : solid;
	border-radius : 1rem;
	border-color: #989daa !important;
	width: 110px; 
	height: 80px; 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
}
/* #mainBody { */
/* 	min-height : 1200px; */
/* } */
		
/* .common-width { */
/* 	margin: 0 auto; */
/* 	width: 70%; */
} 
/* .search { */
/*   	position: relative; */
/*   	margin-left : 30px; */
/*   	width: 300px; */
/* } */

/* .park_searchInput { */
/*   	width: 100%; */
/*   	border: 1px solid #bbb; */
/*   	border-radius: 38px; */
/*   	padding: 10px 12px; */
/*   	font-size: 14px; */
/* } */

/* .searchImg { */
/*   	position : absolute; */
/*   	width: 17px; */
/*   	top: 10px; */
/*   	right: 12px; */
/*   	margin: 0; */
/* } */