@charset "UTF-8";

/* 프로필 이미지 원형 */
.box-1 {
	width: 160px;
	height: 160px;
	overflow: hidden;
	float: center;
	margin: 10px;
	border-radius: 50%;
	position: relative;
}
.box-2 {
	width: 25px;
	height: 25px;
	overflow: hidden;
	float: center;
	margin: 10px;
	border-radius: 50%;
	position: relative;
}
.profile-1 {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center top;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.tab-ul{
	list-style : none;
	float: left;
	padding : 10px;
	margin : 0px;
	
}
.mb-1{
	list-style : none;
}
.card{
	border-radius : 20px;
	
}
.card-body{
	padding : 10px;
	border : 0px;
	
	
}
.container{
	height : 950px;
}
.btn btn-modal{
	padding-bottom:0px;
}


.tae_hidden {
	display : none;
}
