<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedamFinal.aco.point.mapper.PointMapper">
	<!-- 계좌 조회 -->
	<select id="getAccountNumber" resultType="AccountVO">
	SELECT *  FROM (    SELECT         ROWNUM AS RN,       A.*    FROM (
	
        SELECT 
               ACCOUNT_NO,
               MEMBER_NO,
               ACCOUNT_HOLDER,
               BANK_CODE,
               BANK_NAME
          FROM ACCOUNT
         WHERE MEMBER_NO = #{memberNo}
         ORDER BY ACCOUNT_NO
        
        
    ) A   )
   <![CDATA[
   WHERE RN > ((#{pageNo}-1) * 5) AND RN <= (#{pageNo} * 5)
	]]>	

	</select>
	
	<select id="getAccountNumberCount" resultType="int">
		SELECT COUNT(*) AS CNT 
		FROM ACCOUNT
		WHERE MEMBER_NO = #{memberNo}

	</select>

	<!-- 은행 목록 -->
	<select id="getBank" resultType="BankVO">
		SELECT *
		FROM BANK_CODE
		ORDER BY BANK_CODE
	</select>

	<!-- 계좌 등록 -->
	<insert id="registAccountInfo" parameterType="AccountVO">
		INSERT INTO ACCOUNT
		(
		ACCOUNT_NO,
		MEMBER_NO,
		ACCOUNT_HOLDER,
		BANK_CODE,
		BANK_NAME,
		ACCOUNT_SEQ_NO
		)

		VALUES
		(
		#{accountNo},
		#{memberNo},
		#{accountHolder},
		#{bankCode},
		#{bankName},
		ACCOUNT_SEQ_NO.NEXTVAL
		)

	</insert>

	<!-- AcoMoneyUpdate -->
	<update id="updateAcoMoney">
		UPDATE MEMBER
		   SET ACO_MONEY = ACO_MONEY + #{acoMoney}
		 WHERE MEMBER_NO = #{memberNo}

	</update>

	<!-- getAcoMoney -->
	<select id="getAcoMoney" resultType="int">
		select aco_money
		from member
		where member_no = #{memberNo}
		
	</select>

	<!-- getAcoPoint -->
	<select id="getAcoPoint" resultType="int">
		select aco_point
		from member
		where member_no = #{memberNo}
	</select>

	<insert id="insertAcoMoneyHistory" parameterType="PointDetailVO">
		INSERT INTO
		POINT_DETAIL(

				POINT_DETAIL_NO,
				MEMBER_NO,
				LATEST_TOTAL_POINTS,
				latest_ACO_MONEY,
				latest_ACO_POINT,
				HISTORY_TYPE,
				HISTORY_DATE,
				INC_DEC_POINT,
				POINT_TYPE,
				ACCOUNT_NO)

		VALUES(

				POINT_DETAIL_seq.nextval,
				#{memberNo},
				#{latestTotalPoints},
				#{latestAcoMoney},
				#{latestAcoPoint},
				#{historyType},
				#{historyDate},
				#{incDecPoint},
				#{pointType},
				#{accountNo}
		)
	</insert>

	<!-- AcoMoneyChargeInquiry -->
	<select id="acoMoneyChargeInquiry" resultType="PointDetailVO">
<!-- 		SELECT -->
<!-- 		A.ACCOUNT_NO, -->
<!-- 		A.POINT_TYPE, -->
<!-- 		A.HISTORY_DATE, -->
<!-- 		A.INC_DEC_POINT, -->
<!-- 		B.BANK_NAME, -->
<!-- 		A.latest_ACO_MONEY -->
<!-- 		FROM POINT_DETAIL A JOIN -->
<!-- 		ACCOUNT B ON A.account_no = B.account_no -->
<!-- 		WHERE B.MEMBER_NO = #{memberNo} -->
<!-- 		 AND POINT_TYPE = 'G001' -->
<!-- 		 AND INC_DEC_POINT <![CDATA[>]]> 0 -->
<!-- 		 ORDER BY A.HISTORY_DATE DESC -->
		SELECT *		FROM (		SELECT			ROWNUM AS RN,			C.*			FROM (
		
				SELECT
					A.ACCOUNT_NO,
					A.POINT_TYPE,
					A.HISTORY_DATE,
					A.INC_DEC_POINT,
					B.BANK_NAME,
					A.latest_ACO_MONEY
					
				FROM POINT_DETAIL A 
				JOIN ACCOUNT B ON A.account_no = B.account_no
				
				WHERE A.MEMBER_NO = #{memberNo}
		 		  AND POINT_TYPE = 'G001'
		 		  AND INC_DEC_POINT <![CDATA[>]]> 0
		 		  
		 		ORDER BY A.HISTORY_DATE DESC
		 		
			) C		) A
   <![CDATA[
   WHERE RN > ((#{cp}-1) * 5) AND RN <= (#{cp} * 5)
	]]>	
		 
	</select>
	
	<select id="acoMoneyChargeInquiryCnt" resultType="int">
		SELECT COUNT(*) AS CNT 
		FROM POINT_DETAIL
		WHERE MEMBER_NO = #{memberNo}
		 AND POINT_TYPE = 'G001'
		 AND INC_DEC_POINT <![CDATA[>]]> 0
		 ORDER BY HISTORY_DATE DESC

	</select>

	<!-- AcoMoneyUseInquiry -->
	<select id="acoMoneyUseInquiry" resultType="PointDetailVO">
		SELECT
			HISTORY_DATE,
			HISTORY_TYPE,
			INC_DEC_POINT
		FROM (
			SELECT
				ROWNUM AS RN,
				A.HISTORY_DATE,
				A.HISTORY_TYPE,
				A.INC_DEC_POINT
			FROM(
				SELECT
					HISTORY_DATE,
					SUBCODE_TO_NAME(HISTORY_TYPE) AS HISTORY_TYPE,
					INC_DEC_POINT
				FROM
					point_detail
					WHERE member_no = #{memberNo}
					AND POINT_TYPE = 'G001' 
					AND( history_type = 'F004' OR history_type ='F006')
					AND INC_DEC_POINT <![CDATA[<]]>	 0
				   ORDER BY POINT_DETAIL_NO DESC
				)A
			)
		
		<![CDATA[
 		  WHERE RN > ((#{up}-1) * 5) AND RN <= (#{up} * 5)
		]]>	
	
		
			 
	</select>
	
	<select id="acoMoneyUseInquiryCnt" resultType="int">
		SELECT COUNT(*) AS CNT 
		FROM point_detail
		WHERE member_no = #{memberNo}
		AND POINT_TYPE = 'G001' 
		AND( history_type = 'F004' OR history_type ='F006')
		AND INC_DEC_POINT <![CDATA[<]]>	 0

	</select>
	
	<!-- 애코포인트 획득 내역 -->
	<select id="acoPointAcquireInquiry" resultType="PointDetailVO">
		SELECT  HISTORY_DATE,
				INC_DEC_POINT,
				HISTORY_TYPE
		FROM (SELECT
				ROWNUM AS RN,
				A.HISTORY_DATE,
				A.INC_DEC_POINT,
				A.HISTORY_TYPE
			FROM(
				SELECT  HISTORY_DATE,
					INC_DEC_POINT,
					SUBCODE_TO_NAME(HISTORY_TYPE) AS HISTORY_TYPE
				FROM 
					POINT_DETAIL
				WHERE MEMBER_NO = #{memberNo}
				AND POINT_TYPE = 'G002' 
				AND INC_DEC_POINT <![CDATA[>]]> 0
				ORDER BY HISTORY_DATE DESC
			)A
		)
		<![CDATA[
 		  WHERE RN > ((#{ap}-1) * 5) AND RN <= (#{ap} * 5)
		]]>	
		
		
			 
	</select>
	
	<select id="acoPointAcquireInquiryCnt" resultType="int">
		SELECT COUNT(*) AS CNT 
			FROM point_detail
					WHERE member_no = #{memberNo}
					AND POINT_TYPE = 'G002' 
					AND INC_DEC_POINT <![CDATA[>]]> 0

	</select>
	
	<!-- 애코포인트 사용 내역 -->
	<select id="acoPointUseInquiry" resultType="PointDetailVO">
		SELECT  HISTORY_DATE,
				INC_DEC_POINT,
				HISTORY_TYPE
		FROM (SELECT
				ROWNUM AS RN,
				A.HISTORY_DATE,
				A.INC_DEC_POINT,
				A.HISTORY_TYPE
			FROM(
				SELECT 
					HISTORY_DATE,
					INC_DEC_POINT,
					SUBCODE_TO_NAME(HISTORY_TYPE) AS HISTORY_TYPE
				FROM POINT_DETAIL 
					WHERE MEMBER_NO = #{memberNo}
					AND POINT_TYPE = 'G002' 
					AND INC_DEC_POINT <![CDATA[<]]> 0
			  ORDER BY HISTORY_DATE DESC
			)A	
		)
		<![CDATA[
 		  WHERE RN > ((#{up}-1) * 5) AND RN <= (#{up} * 5)
		]]>	
		
		
			 
	</select>
	
	<select id="acoPointUseInquiryCnt" resultType="int">
		SELECT COUNT(*) AS CNT 
			FROM point_detail
					WHERE member_no = #{memberNo}
					AND POINT_TYPE = 'G002' 
					AND INC_DEC_POINT <![CDATA[<]]> 0

	</select>
	
	<!-- 계좌 중복여부 조회 -->
	<select id="accInquiry" resultType = "String">
		select * from account
		where account_no = #{accountNo} 
		and member_no = #{memberNo}
			 
	</select>

</mapper>