<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org/" class="common-width">
    <footer class="d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <img id="logoImage3"src="/commonResource/askcodeLogo.png" alt="logo" style="width:15%">
         <div class = "footerMsg">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p>Home</p></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p>Features</p></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p>Pricing</p></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p>FAQs</p></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><p>About</p></a></li>
            </ul>
         </div>

        </div>
            <div class="text-start" style = "margin-top : -40px">
                <p>© 2024 AskCode, Inc</p>
                <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>
            </div>
        </div>
    </footer>
</div>