<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
    class="common-width"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <header>
        <div class="park_navbar">
           <a href="/" style="width:15%">
         <img id="logoImage" src="/commonResource/askcodeLogo.png" alt="logo" style="width:80%">
        </a>
        
            <ul class="list-unstyled d-flex gap-3 align-self-center ml-3">
                <li onclick="location.href='/sideProjectList/Q001'">사이드 프로젝트</li>
                <li onclick="location.href='/questionList'">질문&답변</li>
                <li>자유게시판</li>
                <li>
                	<div class="dropdown" id="drmenu">
						<a style="font-weight:bold; text-decoration:none; color:black;" id="headerDrop" data-bs-toggle="dropdown" aria-expanded="false">고객센터</a>
						<ul id="headerDropDown" style="display:none;" class="dropdown-menu" aria-labelledby="headerDrop">
					    	<li><a class="dropdown-item" href="#">공지사항</a></li>
					   		<li><a class="dropdown-item" href="/qnaBoard?pg=1">1:1 문의게시판</a></li>
						</ul>
					</div>
                </li>
                <li>이모티콘 상점</li>
                 <li onclick="location.href='/point'">포인트 충전</li>
            </ul>
            <div class="park_search-align-self-center">
             <input type="text" placeholder="검색어 입력" class="park_searchInput">
             <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" class="park_searchImg">
        </div>
            <div class="park_align-self-center">
                <!-- 다크 모드/라이트 모드 토글 버튼 추가 -->
                <div class="park_dark-mode-toggle" onclick="toggleDarkMode()">
                    <div class="park_sun-moon-container">
                        <i class="fas fa-sun sun-icon"></i><i class="fas fa-moon moon-icon"></i>
                    </div>
                </div>
                
            </div>
            <th:block sec:authorize="isAnonymous()">
                <div class="park_align-self-center">
                    <button class="park_login-button" onclick="location.href='/loginForm'">로그인</button>
                    <button class="park_signup-button" onclick="location.href='/createAccountForm'">회원가입</button>
                </div>
            </th:block>
            <th:block sec:authorize="isAuthenticated()"> 
                <div class = "park_align-self-center d-flex gap-2">
                          <div class="park_alert" style="width :45px; margin-top:13px;  ">
                              <a href='/' class="position-relative">
  								<img class="bell" src="/commonResource/bell.png" alt="bell" style="width:50%">
  								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
   									 99+<span class="visually-hidden">unread messages</span>
  								</span>
							</a>
                    
               </div>
                    <div class="mink_box">
                    	<a th:href="|/myPage|">
                    		<img class="mink_profile" th:src="|upload/profile/${session.member.profileImage}|" alt ="profile" />

                    	</a>
                    </div> 
                    <form action="/logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="park_logout-button" type="submit">로그아웃</button>
                    </form>
                </div>
            </th:block> 
        </div>
        
    </header>
    <script>
    	$('#drmenu').on('show.bs.dropdown', function(e) {
    		$('#headerDropDown').css('display', 'block');
    	})
    	
    	$('#drmenu').on('hidden.bs.dropdown', function(e) {
    		$('#headerDropDown').css('display', 'none');
    	})
    	
        // 토글 버튼을 클릭할 때마다 다크 모드/라이트 모드를 전환하는 함수
        function toggleDarkMode() {
            const body = document.body;
            const sunIcon = document.querySelector('.sun-icon');
            const moonIcon = document.querySelector('.moon-icon');
            const logoImage = document.getElementById('logoImage');
            const logoImage3 = document.getElementById('logoImage3');
            // body 요소에 'dark-mode' 클래스가 있는지 확인하여 토글
            body.classList.toggle('dark-mode');
            // dark-mode일 때는 라이트 모드로, 그 반대일 때는 다크 모드로 설정
            if (body.classList.contains('dark-mode')) {
                body.classList.remove('light-mode');
                moonIcon.classList.remove('hidden');
                sunIcon.classList.add('hidden');
                logoImage.src = "/commonResource/askcodeLogo_dark.png";
                logoImage3.src = "/commonResource/askcodeLogo_dark.png";
            } else {
                body.classList.add('light-mode');
                moonIcon.classList.add('hidden');
                sunIcon.classList.remove('hidden');
                logoImage.src = "/commonResource/askcodeLogo.png";
                logoImage3.src = "/commonResource/askcodeLogo.png";
            }
        }
    </script>
</div>