<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content">

	<!-- header tab -->
	<div class="publishingStatus">
		<hr id="tae-hr">
		<a id="a-1">모집중</a><span>
		<a id="a-2">협업중</a>
		</span>
		<hr id="tae-hr">
	</div>
	<h3 class="tae-side-title">사이드 프로젝트 게시글등록</h3>
	<br>
	<!-- 입력 -->
	<form class="row g-3" id="sideProjectForm">
		  <div class="row mb-3">
		   	<label for="inputEmail3" class="tae-form-label col-sm-2 col-form-label">프로젝트 재목</label>
		   		<div class="col-sm-10">
		  	    	<input type="text" class="tae-form-control2" id="title">
		  		</div>
		  </div>
		  
		  <div class="row mb-3">
		   	<label for="inputPassword3" class="tae-form-label col-sm-2 col-form-label">프로젝트 개요</label>
		   		<div class="col-sm-10">
		    	  <input type="text" class="tae-form-control2" id="projectOutline">
		  		</div>
		  </div>
		   
		  <div class="row mb-3">
		    <label for="inputEmail4" class="tae-form-label col-sm-2 col-form-label">모집인원</label>
		    	<div class="col-sm-10">
		    		<input type="text" th:placeholder="명" class="tae-form-control3" id="recruitPersonnel">
		    	</div>
		  </div>
		  
		  <div class="row mb-3">
		    <label for="inputPassword4" class="tae-form-label col-sm-2 col-form-label">개발기간</label>
		    	<div class="col-sm-10">
		    		<input type="text" th:placeholder="일" class="tae-form-control3" id="devPeriod">
		    	</div>
		  </div>
		  
		   <div class="row mb-3" style="margin-top:16px;">
		   		 <label for="inputPassword3" class="tae-form-label col-sm-2 col-form-label" >깃주소</label>
		   		 <div class="col-sm-10">
		    	  <input type="text" class="tae-form-control2" id="gitAddress">
		  		 </div>
		   </div>
		   
		   <div class="row mb-3" style="margin-top:16px;">
		   		 <label for="inputPassword3" class="tae-form-label col-sm-2 col-form-label" >사용기술</label>
		   		 <div class="col-sm-10">
		    	  <input type="text" class="tae-form-control2" id="techOfUse">
		  		 </div>
		   </div>
		   
		   <div class="mb-3">
	  		<label for="exampleFormControlTextarea1" class="tae-form-label col-sm-2 col-form-label">프로젝트 소개</label>
	  		<textarea class="form-control" id="content" rows="8"></textarea>
		   </div>
		  
		  <div class="col-12">
		    <button type="submit" id="writeBoard" class="btn btn-primary" style="float:right;">글 등록</button>
		  </div>
	</form>
	
</div><!-- header -->
<script type="text/javascript">
	let csrfPara = $('meta[name="csrfPara"]').attr("content");
	let csrfToken = $('meta[name="csrf"]').attr("content");
	
	$(document).ready(function() {
	    $('#sideProjectForm').submit(function(event) {
	        event.preventDefault();
			let memberNo = [[${session.member.memberNo}]]
	        let title = $('#title').val();
	        let projectOutline = $('#projectOutline').val();
	        let recruitPersonnel = $('#recruitPersonnel').val();
	        let devPeriod = $('#devPeriod').val();
	        let gitAddress = $('#gitAddress').val();
	        let techOfUse = $('#techOfUse').val();
	        let content = $('#content').val();

	        let obj = {
	        	memberNo : memberNo,
	        	title: title,
	        	projectOutline: projectOutline,
	            recruitPersonnel: recruitPersonnel,
	            devPeriod: devPeriod,
	            gitAddress: gitAddress,
	            techOfUse: techOfUse,
	            content: content
	        };
	        obj[csrfPara] = csrfToken;
	        
	        $.ajax('/insertSideProject', {
	            type: "POST",
	            data: obj
	        }).done(result => {
	    		console.log('등록 성공', result);
	    		showSuccessAlert('작성한 글이 정상적으로 등록되었습니다.');
	    		const bno = result.sideInfo.bno;
	    		window.location.href = '/sideInfo/' + bno;
	        })
	        .fail(err => {
	        	console.log(err);
	        	showWarningAlert('등록 실패하였습니다');
	        });
	    });
	});

    
</script>