<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{/layout/member/mainTemplate.html}"
	layout:fragment="content">
	<!-- header tab -->
	<div class="publishingStatus">
		<hr id="tae-hr">
			<th:block th:if="${sideInfo.publishingStatus} == 'Q001'">	
				<a id="a-1" href="/sideProjectList/Q001">모집중</a><span>
				<a id="a-2" href="/sideProjectList/Q002">협업중</a>
				</span>
			</th:block>
			<th:block th:unless="${sideInfo.publishingStatus} == 'Q001'">	
				<a id="a-1" href="/sideProjectList/Q001">모집중</a><span>
				<a id="a-2" href="/sideProjectList/Q002">협업중</a>
				</span>
			</th:block>
		<hr id="tae-hr">	
	</div>
	<!-- contents -->
	<div class="conetents">
				<th:block th:if="${sideInfo.publishingStatus} == 'Q001'" >
				<h6 class="tae-side-h6-1">모집중</h6>
				</th:block>
				<th:block th:unless="${sideInfo.publishingStatus} == 'Q001'" >
				<h6 class="tae-side-h6-2">협업중</h6>
				</th:block>
					<h5 style="font-weight:bolder;">[[ ${sideInfo.title }]]</h5>
					<br>
					<p style="font-weight:bold;">[[${sideInfo.projectOutline}]]</p>
					<br>
					<p style="color:#979da9;float:left;">기간 | [[${sideInfo.devPeriod}]]일  모집인원 [[${sideInfo.recruitPersonnel}]]명</p>
				    <span>
					<p style="color:#979da9;margin-top:-10px;float:right;">조회수 [[ ${sideInfo.viewCnt} ]]회  댓글수 [[ ${sideInfo.replyCnt} ]]개</p></span> 
					<br>
					<th:block>
						<div class="tae-side-btn1" style="margin-top:20px;">
							<th:block th:if="|${isCheckMember} == 1 and ${status} == 'Q001'|">
								<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								  	<button class="btn text-white" id="modifyCentent" type="button" style="background-color:#e0e0e7;color:#3e6ce3;">글수정</button>
								  	<button class="btn btn-primary" id="changeStatusButton" type="button" style="background-color:#0C5FEC;">협업시작</button>
								</div>
							</th:block>
						</div>
					</th:block>
				<hr id="tae-hr">
				<div class="container" id="tae-container-5">
				<h5 style="font-weight:bold;">프로그램 소개</h5>
				<p style="font-weight:bold;">[[${sideInfo.content}]]</p>
				</div>	
	</div>
	<div class="tae-reply mb-3">
		<p style="font-weight:bold;">작성자 깃 보러가기 💻 <a class="tae-gitaddress" th:href="@{sideInfo.gitAddress}"> [[${sideInfo.gitAddress}]]</a></p>
	  <label for="exampleFormControlTextarea1" class="form-label">댓글 [[${sideInfo.replyCnt}]]</label>
	  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" th:placeholder="|댓글을 입력하세요|"></textarea>
	  <button class="btn btn-primary" id="tae-insertReply" type="button">댓글등록</button>
	</div>
		
	
	
	
	
</div>
<script type="text/javascript" th:inline="javascript">

let csrfPara = $('meta[name="csrfPara"]').attr("content");
let csrfToken = $('meta[name="csrf"]').attr("content");

const status = 'Q002';
const bno = [[${sideInfo.sideBoardNo}]];

 $(document).ready(function() {
	$('#changeStatusButton').click(function() {
		console.log(status);
		console.log(bno);
		
		//협업시작
		let obj = {		
				  status : status,
				  bno : bno
				   }
		obj[csrfPara] = csrfToken;
		$.ajax('/updateStatus',{
			type: "POST",
			data: obj
			}).done(result =>{
				console.log(result);
				showSuccessAlert("협업시작으로 상태가 변경되었습니다.");
				window.location.reload();
		}).fail(err => console.log(err));
	})
});

//게시글 작성


</script>